<section id="banner">
  <img data-src="assets/images/states-banner/{{pgiService.stateDetail.banner}}" src="assets/images/blur.png" alt="{{pgiService.stateDetail.stateName}}"
    class="img-fluid w-100" appLoadBanner>
  <div class="container banner-caption">
    <div class="row h-100">
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h2>{{pgiService.stateDetail.stateName}}</h2>
          <div
            class="grade-score grade-{{pgiService.stateGrade==1?'one':(pgiService.stateGrade==2?'two':(pgiService.stateGrade==3?'three' : (pgiService.stateGrade==4?'four': (pgiService.stateGrade==5?'five':'six'))))}}">
            Grade
            {{pgiService.stateGrade==1?'I':(pgiService.stateGrade==2?'II':(pgiService.stateGrade==3?'III' : (pgiService.stateGrade==4?'IV':(pgiService.stateGrade==5?'V':'VI'))))}}</div>
        </div>
      </div>
      <div class="col-md-4 h-100">
        <div class="state-map grade-one h-100">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" [innerHtml]="pgiService.stateDetail.path | safeSvg"
            class="h-100"></svg>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-state" id="main_content">
  <div class="container">
    <h2 class="heading mt-5"><span>Performance</span> Matrix</h2>
    <div class="row">
      <div class="col-md-10 offset-1 state-progress text-center">
        <div class="row">
          <div class="col-lg-4 col-md-6 animated zoomIn wow" *ngFor="let dom of pgiService.domains; let index = index" attr.data-wow-delay="{{((index + 1) * 200) + 'ms'}}">
            <a href="javascript:void(0);" class="d-inline-block" [routerLink]="['/domain', index + 1]">
              <div class="progress-box">
                <svg width="200" height="200" viewBox="0 0 200 200" stroke="blue" class="radial-progress">
                  <circle class="progress-bg" cx="100" cy="100" r="85" fill="none" stroke="#e6e6e6" stroke-width="8" />
                  <circle class="progress-meter domain-one" cx="100" cy="100" r="85" fill="none" stroke="#f77a52"
                    stroke-width="8" stroke-dasharray="534.070" stroke-dashoffset="534.070" />
                </svg>
                <div class="total-progress">
                  <img src="{{dom.img}}" alt="{{dom.value}}">
                  <div class="get-score">
                    <span class="performance domain-one" attr.data-score="{{dom.score}}">{{dom.score}}</span></div>
                  <div class="total-score">Out of <span class="total">{{dom.max}}</span></div>
                </div>
              </div>
              <div class="domain-name domain-one">{{dom.value}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="indicators" class="gray">
  <div class="container">
    <h2 class="heading"><span>Indicators</span> Wise Score </h2>
    <div class="accordion" data-accordion="first">
      <div class="card">
        <div class="card-header domain-one">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Learning Outcomes & Quality</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Score:
                  {{pgiService.stateDetail.domainScore.domain1}}/{{pgiService.stateDetail.domainScore.domain1Max}}</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li *ngFor="let d1 of pgiService.indScores.domain1">
            <div class="row d-flex align-items-center">
              <div class="col-lg-10">
                <h6>{{d1.indData.serial}} {{d1.indData.name}} </h6>
                <div class="detials source">Data Source:
                  {{d1.indData.source}}</div>
              </div>
              <div class="col-lg-2">
                <div class="detials score" *ngIf="!(d1.indData.weight == 0)">
                  <span>{{d1.score}}/{{d1.indData.weight}}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="second">
      <div class="card">
        <div class="card-header domain-two">
          <button class="btn btn-link collapsed" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Access</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Score:
                  {{pgiService.stateDetail.domainScore.domain2}}/{{pgiService.stateDetail.domainScore.domain2Max}}</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li *ngFor="let d1 of pgiService.indScores.domain2">
            <div class="row d-flex align-items-center">
              <div class="col-lg-10">
                <h6>{{d1.indData.serial}} {{d1.indData.name}} </h6>
                <div class="detials source">Data Source:
                  {{d1.indData.source}}</div>
              </div>
              <div class="col-lg-2">
                <div class="detials score" *ngIf="!(d1.indData.weight == 0)">
                  <span>{{d1.score}}/{{d1.indData.weight}}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="third">
      <div class="card">
        <div class="card-header domain-three">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Infrastructure & Facilities</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Score:
                  {{pgiService.stateDetail.domainScore.domain3}}/{{pgiService.stateDetail.domainScore.domain3Max}}</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li *ngFor="let d1 of pgiService.indScores.domain3">
            <div class="row d-flex align-items-center">
              <div class="col-lg-10">
                <h6>{{d1.indData.serial}} {{d1.indData.name}} </h6>
                <div class="detials source">Data Source:
                  {{d1.indData.source}}</div>
              </div>
              <div class="col-lg-2">
                <div class="detials score" *ngIf="!(d1.indData.weight == 0)">
                  <span>{{d1.score}}/{{d1.indData.weight}}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="fourth">
      <div class="card">
        <div class="card-header domain-four">
          <button class="btn btn-link collapsed" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Equity</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Score:
                  {{pgiService.stateDetail.domainScore.domain4}}/{{pgiService.stateDetail.domainScore.domain4Max}}</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li *ngFor="let d1 of pgiService.indScores.domain4">
            <div class="row d-flex align-items-center">
              <div class="col-lg-10">
                <h6>{{d1.indData.serial}} {{d1.indData.name}} </h6>
                <div class="detials source">Data Source:
                  {{d1.indData.source}}</div>
              </div>
              <div class="col-lg-2">
                <div class="detials score" *ngIf="!(d1.indData.weight == 0)">
                  <span>{{d1.score}}/{{d1.indData.weight}}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="fifth">
      <div class="card">
        <div class="card-header domain-four">
          <button class="btn btn-link collapsed" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Governance & Management</small>
                <span class="w-100 d-block title">Governance Processes</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Score:
                  {{pgiService.stateDetail.domainScore.domain5}}/{{pgiService.stateDetail.domainScore.domain5Max}}</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li *ngFor="let d1 of pgiService.indScores.domain5">
            <div class="row d-flex align-items-center">
              <div class="col-lg-10">
                <h6>{{d1.indData.serial}} {{d1.indData.name}} </h6>
                <div class="detials source">Data Source:
                  {{d1.indData.source}}</div>
              </div>
              <div class="col-lg-2">
                <div class="detials score" *ngIf="!(d1.indData.weight == 0)">
                  <span>{{d1.score}}/{{d1.indData.weight}}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="similar-performance">
  <div class="container">
    <h2 class="heading">States under same <span>Grade</span></h2>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let sim of pgiService.simStateDetails; let i = index">
        <div class="media state-block align-items-center animated zoomIn wow"
          attr.data-wow-delay="{{((i + 1) * 200) + 'ms'}}">
          <div
            class="state-map small mr-3 grade-{{pgiService.stateGrade==1?'one':(pgiService.stateGrade==2?'two':(pgiService.stateGrade==3?'three' : (pgiService.stateGrade==4?'four':(pgiService.stateGrade==5?'five': 'six'))))}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" [innerHtml]="sim.path | safeSvg"></svg>
          </div>
          <div class="media-body">
            <h5 class="mt-0 text-uppercase state-name">{{sim.stateName}}</h5>
            <h6 class="text-uppercase grade">Grade
              {{pgiService.stateGrade==1?'I':(pgiService.stateGrade==2?'II':(pgiService.stateGrade==3?'III' : (pgiService.stateGrade==4?'IV':(pgiService.stateGrade==5?'V':'VI'))))}}
            </h6>
            <a [routerLink]="['/state', sim.stateId]" class="button purplle sm">more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>