.sideCustomHeader {
    padding: 10px;
    color: black;
    background: #fafafa;
    font-size: large;
    font-family: cursive;
}

a {
    margin-left: 2%;
}

a.active {
    background: #e58ef7;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:focus img,
.social-btns .btn:hover img {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.social-btns {
    height: 50px;
    margin: auto;
    font-size: 0;
    text-align: center;
}

.social-btns .btn {
    display: inline-block;
    background-color: #00000073;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    padding: 0px 5px 9px 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 61%;
    -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}

.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
}