<div class="wrapper">
        <!-- Common Header Starts Here -->
        <section id="header" class="header allIndiaHeader">
            <div class="container logoSection">
                <div class="logo">
                    <a href="#"><img src="assets/newdashboard/images/logo.png" width="316" height="65" alt="Ministry of Education" title="Ministry of Education"></a>
                </div>
                <div class="topRtText">School Education Dashboard</div>
            </div>
        </section>
        <!-- Common Header Ends Here -->

        <section id="midContainer">
            <div class="topTabLink">
                <ul>
    
                    <li>
                        <a [routerLink]="['/reportDashboard/national']" class="blueLink"><img src="assets/newdashboard/images/india.svg" width="40" height="40" alt="">All India Figures</a>
                    </li>
                    <li>
                        <a [routerLink]="['/reportDashboard/state']" class="redLink"><img src="assets/newdashboard/images/states.svg" width="40" height="40" alt="">States and UTs</a>
                    </li>
                    <li>
                        <a [routerLink]="['/reportDashboard/scheme']" class="violetLink"><img src="assets/newdashboard/images/scheme.svg" width="40" height="40" alt="">Schemes</a>
                    </li>
                    <li class="active">
                        <a href="#" class="yellowLink"><img src="assets/newdashboard/images/puzzle.svg" width="40" height="40" alt="">Autonomous Bodies</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="container" style="margin-top: 5%;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-white bg-primary mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">Kendriya Vidyalaya Sangathan</h4>
                                </div>
                            </div>
                            <div class="card text-white bg-secondary  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">National Council of Educational Research and Training</h4>
                                </div>                                
                            </div>
                            <div class="card text-white bg-success  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">National Bal Bhawan</h4>
                                </div>
                            </div>
                            <div class="card text-white bg-danger  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">National Institute of Open Schooling</h4>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="card text-white bg-warning  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">Navodaya Vidyalaya Samiti</h4>
                                </div>
                            </div>
                            <div class="card text-white bg-info  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">Central Tibetan Schools Administration</h4>
                                </div>
                            </div>
                            <div class="card text-white bg-primary  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">Central Board of Secondary Education</h4>
                                </div>
                            </div>
                            <div class="card text-white bg-secondary  mb-3" style="padding: 5%;">
                                <div class="card-body">
                                    <h4 class="card-text">National Council for Teacher Education</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                  
            </div>
        </section>
</div>
