<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>District PGI Approve</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>State Name</th>
                    <th>District Name</th>
                    <th>Points</th>
                    <th>Status</th>
                    <th>Preview</th>
                    <th>Accept/Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dist of districtPgi; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{dist.stateName}}</td>
                    <td>{{dist.districtName}}</td>
                    <td>{{dist.points}}</td>
                    <td>{{dist.status}}</td>
                    <td><span style='color:blue' class="material-icons" (click)="prevQuest(dist,i)">
                        visibility
                        </span></td>
                    <td>
                        <span  (click)='statusUpdate(dist,"A")' class="material-icons" style="padding:2px;color:green">done</span>
                        <span  (click)='statusUpdate(dist,"R")' class="material-icons" style="padding:2px;color:red">clear</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>



<ng-template #districtQuestions let-modal style="min-width: 100%;">
  <div class="modal-header">
    <h4 class="modal-title">District Question</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-width: 100%; overflow:auto">    
    <table #GPTable class="table">
                        <tr>
                            <th>No.</th>
                            <th>Question</th>
                            <th>% value</th>
                            <th>Points</th>
                        </tr>
                        <tr *ngFor="let dques of previewQuestion; let i=index;">
                            <td>{{dques.quesSeries}}</td>
                            <td>{{dques.quesDesc}}</td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>%Value</mat-label>
                                    <input type="string" matInput [(ngModel)]="previewQuestion[i].columnRPR" name="disValue" disabled required>
                                </mat-form-field>
                            
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Points</mat-label>
                                    <input type="string" matInput [(ngModel)]="previewQuestion[i].columnRPS" name="disValue" disabled required>
                                </mat-form-field>
                               
                            </td>
                        </tr>
                    </table>
  </div>
</ng-template>