<section class="about-section">
  <h3 class="heading text-left">Understanding the methodology</h3>
  <p class="animated fadeInDown wow">The architecture of the PGI emanates from the rationale that ensuring an efficient,
    inclusive and equitable
    school education system is contingent upon the constant monitoring of an interconnected matrix of inputs,
    outputs and outcomes, and the development of a quick response system for course correction.</p>
  <p class="animated fadeInDown wow">The information on the indicators are drawn from data available with the DoSEL from
    the <strong>Unified
      District
      Information System for Education (UDISE), National Achievement Survey (NAS)</strong> of NCERT,
    <strong>Mid Day Meal website,
      Public Financial Management System (PFMS)</strong> and the information uploaded by the States and UTs on
    the <strong>Shagun
      PortalEL</strong>.</p>
  <p class="animated fadeInDown wow">Most of these parameters are being monitored for the first time such as
    availability of electronic systems to
    capture attendance of students & teachers, occupancy of the officers at district & State levels, online
    recruitment & transfer of teachers, recruitment of head teachers/principals through a merit based selection
    system and amount spent on school education by States and UTs as a share of their total budget. </p>
  <div class="row">
    <div class="col-md-5">
      <p class="animated fadeInDown wow">Accordingly, the PGI is structured in two categories, namely, Outcomes, and
        Governance & Management
        and comprises 70 indicators in aggregate with a total weightage of 1000. The detailed list of
        indicators under each domain, the respective weights, the data source and the benchmark levels are
        detailed in <a [routerLink]="['/national-findings']">National Findings</a></p>
    </div>
    <div class="col-md-7">
      <div class="methodology d-flex align-items-center justify-content-center h-100">
        <div class="methodology-circle animated flipInY wow">
          <div class="methodology-circle-content">
            <div class="methodology-circle-num">02 Categories</div>
            <div class="methodology-circle-title">Outcomes and Governance & Management</div>
          </div>
        </div>
        <div class="methodology-circle animated flipInY wow" data-wow-delay="0.2s">
          <div class="methodology-circle-content">
            <div class="methodology-circle-num">70</div>
            <div class="methodology-circle-title">Indicators</div>
          </div>
        </div>
        <div class="methodology-circle animated flipInY wow" data-wow-delay="0.4s">
          <div class="methodology-circle-content">
            <div class="methodology-circle-num">1000</div>
            <div class="methodology-circle-title">Total Weightage</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="indicators-table">
  <h2 class="heading"><span>List of Indicators</span></h2>
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="70">Sr. No.</th>
        <th width="130">Indicator No.</th>
        <th width="400">Indicator</th>
        <th width="120">Data Source</th>
        <th width="80">Weight</th>
        <th>Benchmark</th>
      </tr>
      <tr class="text-center">
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background: #efefef">
        <td colspan="6" class="text-uppercase">
          <h5 class="m-0">Category 1: Outcomes</h5>
          <h5 class="m-0">Domain 1 - Learning Outcomes And Quality</h5>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>1.1.1</td>
        <td> % of Elementary schools which have displayed class-wise learning
          Outcomes </td>
        <td>Shagun</td>
        <td>20</td>
        <td>100% of Govt. and aided elementory Schools </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1.1.2</td>
        <td> Average Language score in Class 3 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
        <td rowspan="8">The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
          students. The report cards give the percentage of students assessed who
          answered correctly. The benchmark will be 75% of all students who
          answered correctly i.e. States and UTs obtaining this score get full
          weightage points.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>1.1.3</td>
        <td> Average Mathematics score in Class 3 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>4</td>
        <td>1.1.4</td>
        <td> Average Language score in Class 5 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>5</td>
        <td>1.1.5</td>
        <td> Average Mathematics score in Class 5 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>6</td>
        <td>1.1.6</td>
        <td> Average Language score in Class 8 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>7</td>
        <td>1.1.7</td>
        <td> Average Mathematics score in Class 8 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1.1.8</td>
        <td> Average Science score in Class 8 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>9</td>
        <td>1.1.9</td>
        <td> Average Social Science score in Class 8 - Govt and aided schools</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Domain 1 - Learning Outcomes:<br /> Total Domain Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>180</h5>
        </td>
        <td></td>
      </tr>
      <tr style="background: #efefef">
        <td colspan="6" class="text-uppercase">
          <h5 class="m-0">Category 1: Outcomes</h5>
          <h5 class="m-0">Domain 2 - Access</h5>
        </td>
      </tr>
      <tr>
        <td>10</td>
        <td>1.2.1</td>
        <td>Adjusted Net Enrolment Ratio (NER) at elementary level as per entry age of the State/UT</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>11</td>
        <td>1.2.2</td>
        <td>Adjusted Net Enrolment Ratio (NER) at secondary level as per entry age of the State/UT</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>12</td>
        <td>1.2.3</td>
        <td> Retention rate at primary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>13</td>
        <td>1.2.4</td>
        <td> Retention rate at elementary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>14</td>
        <td>1.2.5</td>
        <td>Retention rate at secondary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>15</td>
        <td>1.2.6</td>
        <td>Transition rate from primary to upper-primary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>16</td>
        <td>1.2.7</td>
        <td>Transition rate from upper-primary to secondary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>17</td>
        <td>1.2.8</td>
        <td> Percentage of identified Out-of-school-children mainstreamed in last completed academic year (2017-18)
          (Class 1 to 8)</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of the target given in the PAB of SSA 2017-18 Govt. Schools </td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Domain 2 - Access:<br /> Total Domain Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>80</h5>
        </td>
        <td></td>
      </tr>
      <tr style="background: #efefef">
        <td colspan="6" class="text-uppercase">
          <h5 class="m-0">Category 1: Outcomes</h5>
          <h5 class="m-0">Domain 3 - Infrastructure & Facilities</h5>
        </td>
      </tr>
      <tr>
        <td>18</td>
        <td>1.3.1</td>
        <td> Percentage of schools having CAL in Upper Primary Level</td>
        <td>UDISE</td>
        <td>20</td>
        <td>100% Govt. upper primary schools. </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Percentage of secondary schools having lab facility</td>
        <td>UDISE</td>
        <td></td>
        <td>100% Govt. upper primary schools. </td>
      </tr>
      <tr>
        <td>19</td>
        <td>1.3.2</td>
        <td>a) Integrated Science Lab</td>
        <td></td>
        <td>10</td>
        <td>100% Govt. secondary schools. </td>
      </tr>
      <tr>
        <td>20</td>
        <td>1.3.3</td>
        <td>b) Computer Lab</td>
        <td></td>
        <td>10</td>
        <td>100% Govt. secondary schools. </td>
      </tr>
      <tr>
        <td>21</td>
        <td>1.3.4</td>
        <td>% of schools having Book Banks/ Reading Rooms/ Libraries</td>
        <td>UDISE</td>
        <td>20</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>22</td>
        <td>1.3.5</td>
        <td>% of schools covered by vocational education subject
        <td>UDISE</td>
        <td></td>
        <td>25% of composite Govt. secondary and higher secondary schools.</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>a) Classes 9 & 10</td>
        <td></td>
        <td>10</td>
        <td>25% of composite Govt. secondary and higher secondary schools.</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>b) Classes 11 to 12</td>
        <td></td>
        <td>10</td>
        <td>25% of composite Govt. secondary and higher secondary schools.</td>
      </tr>
      <tr>
        <td>23</td>
        <td>1.3.6</td>
        <td>% of primary schools provided graded supplementary material</td>
        <td>Shagun</td>
        <td>20</td>
        <td>100% of Govt. primary schools. </td>
      </tr>
      <tr>
        <td>24</td>
        <td>1.3.7</td>
        <td>% of elementary schools' children taking mid-day meal against target approved in PAB - Govt and aided
          schools</td>
        <td>MDM Portal</td>
        <td>10</td>
        <td>100% of MDM PAB target 2017-18</td>
      </tr>
      <tr>
        <td>25</td>
        <td>1.3.8</td>
        <td>% of days mid day meal served against total working days - Govt and aided elementary schools</td>
        <td>MDM Portal</td>
        <td>10</td>
        <td>100% of 200 days at primary level and 220 days at upper primary level,
          as per RTE Act. </td>
      </tr>
      <tr>
        <td>26</td>
        <td>1.3.9</td>
        <td>Percentage of schools having functional drinking water facility - All Schools</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools. </td>
      </tr>
      <tr>
        <td>27</td>
        <td>1.3.10</td>
        <td>Percentage of Elementary Level students getting Uniform within three months of start of academic year
          2016-17 - Govt. Schools</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of all students in Govt. elementary schools.</td>
      </tr>
      <tr>
        <td>28</td>
        <td>1.3.11</td>
        <td>Percentage of Elementary Level students getting Free Textbook within one month of start of academic year
          2016-17</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of all students in Govt. & Govt. aided elementary schools.</td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Domain 3 - Infrastructure & Facilities:<br /> Total Domain Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>150</h5>
        </td>
        <td></td>
      </tr>
      <tr style="background: #efefef">
        <td colspan="6" class="text-uppercase">
          <h5 class="m-0">Category 1: Outcomes</h5>
          <h5 class="m-0">Domain 4 - Equity</h5>
        </td>
      </tr>
      <tr>
        <td>29</td>
        <td>1.4.1</td>
        <td>Difference in student performance in Language between Scheduled Castes (SC) and General Category in Govt.
          and Aided elementary schools: Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>20</td>
        <td rowspan="4">Since there should be zero difference between SC/ST students and General
          Category students, maximum weightage points will be given to a score of
          0 under these indicators. (0 value to be given 100 marks). Absolute
          value of the difference will be taken. Lower the difference better is
          the grade. Average performance of the three classes (3, 5 & 8) will be
          taken.</td>
      </tr>
      <tr>
        <td>30</td>
        <td>1.4.2</td>
        <td>Difference in student performance in Mathematics between Scheduled
          Castes (SC) and General Category in Govt. and Aided elementary schools:
          Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>31</td>
        <td>1.4.3</td>
        <td>Difference in student performance in Language between Scheduled
          Tribes
          (ST) and General Category in Govt. and Aided elementary schools: Class
          3, 5 & 8</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>32</td>
        <td>1.4.4</td>
        <td>Difference in student performance in Mathematics between Scheduled
          Tribes (ST) and General Category in Govt. and Aided elementary schools:
          Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>20</td>
      </tr>
      <tr>
        <td>33</td>
        <td>1.4.5</td>
        <td>Difference in student performance in Language between Urban and
          Rural
          areas in Govt. and Aided elementary schools: Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>10</td>
        <td rowspan="2">Difference in % of urban students answering correctly and % or rural
          students answering correctly can be measured here (Rural - Urban) and
          the target may be set as greater than or equal to 0.
          Since there should be zero difference between rural and urban students,
          maximum weightage points will be given to a score of 0 under these
          indicators. Absolute value of the difference will be taken.</td>
      </tr>
      <tr>
        <td>34</td>
        <td>1.4.6</td>
        <td>Difference in student performance in Mathematics between Urban and
          Rural
          areas in Govt. and Aided elementary schools: Class 3, 5 & 8</td>
        <td>10</td>
        <td>NAS</td>
      </tr>
      <tr>
        <td>35</td>
        <td>1.4.7</td>
        <td>Difference in student performance in Language between Boys and
          Girls in
          Govt. and Aided elementary schools: Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>10</td>
        <td rowspan="2">Difference in % of boys answering correctly and % of girls answering
          correctly can be measured here (girls - boys) and the target may be set
          as greater than or equal to 0.
          Since there should be zero difference between boys and girls, maximum
          weightage points will be given to a score of 0 under these indicators.
          Absolute value of the difference will be taken.
        </td>
      </tr>
      <tr>
        <td>36</td>
        <td>1.4.8</td>
        <td>Difference in student performance in Mathematics between Boys and
          Girls
          in Govt. and Aided elementary schools: Class 3, 5 & 8</td>
        <td>NAS</td>
        <td>10</td>
      </tr>
      <tr>
        <td>37</td>
        <td>1.4.9</td>
        <td>a) Difference between SC's and General Category's Transition Rate from Upper Primary to Secondary level
        </td>
        <td rowspan="2">UDISE</td>
        <td>10</td>
        <td>0 in All Schools (There should be zero difference)</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>b) Difference between SC's and General Category's Transition Rate from Upper Primary to Secondary level</td>
        <td>10</td>
        <td class="text-left">0 in All Schools (There should be zero difference)</td>
      </tr>
      <tr>
        <td>38</td>
        <td>1.4.10</td>
        <td>Difference between Boys and Girls Transition Rate from Upper
          Primary to
          Secondary level</td>
        <td>UDISE</td>
        <td>10</td>
        <td>0 in All Schools (There should be zero difference)</td>
      </tr>
      <tr>
        <td>39</td>
        <td>1.4.11</td>
        <td>Difference between Minorities and General Category's Transition
          Rate
          from Upper Primary to Secondary level</td>
        <td>Shagun</td>
        <td>20</td>
        <td>0 in All Schools (There should be zero difference)</td>
      </tr>
      <tr>
        <td>40</td>
        <td>1.4.12</td>
        <td>Gross enrolment ratio of CWSN (age group 6-18 years)</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of CWSN children in that age group in all schools.</td>
      </tr>
      <tr>
        <td>41</td>
        <td>1.4.13</td>
        <td>% of entitled CWSN receiving Aids and Appliances for Govt and
          Aided
          schools</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of target in PAB SSA and PAB RMSA 2017-18. </td>
      </tr>
      <tr>
        <td>42</td>
        <td>1.4.14</td>
        <td>Percentage of schools having ramp for CWSN to access schools
          buildings</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>43</td>
        <td>1.4.15</td>
        <td>Percentage of schools having functional CWSN friendly toilets.</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>44</td>
        <td>1.4.16</td>
        <td>Percentage of schools having functional toilet</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>a) Boys toilet</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>b) Girls toilet</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>

      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Domain 4 - Equity:<br /> Total Domain Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>230</h5>
        </td>
        <td></td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Total Category 1 Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>640</h5>
        </td>
        <td></td>
      </tr>
      <tr style="background: #efefef">
        <td colspan="6" class="text-uppercase">
          <h5 class="m-0">Category 2: Governance & Management</h5>
          <h5 class="m-0">Domain 1 - Governance Processes</h5>
        </td>
      </tr>
      <tr>
        <td>45</td>
        <td>2.1.1</td>
        <td>% of Children whose Unique ID is seeded in SDMIS</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of all students in all schools aged 6 to 18 years.</td>
      </tr>
      <tr>
        <td>46</td>
        <td>2.1.2</td>
        <td>% of Teachers whose Unique ID is seeded in any electronic database
          of
          the State Government/UT Administration</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all teachers in all schools.</td>
      </tr>
      <tr>
        <td>47</td>
        <td>2.1.3</td>
        <td>% of average daily attendance of students captured digitally
          (States and
          UTs may set digital mechanism similar to AMS of MDM)</td>
        <td>Shagun</td>
        <td>10</td>
        <td>75% of all students in all Govt. and Govt. aided schools.</td>
      </tr>
      <tr>
        <td>48</td>
        <td>2.1.4</td>
        <td>% of average daily attendance of teachers recorded in an electronic
          attendance
          system</td>
        <td>Shagun</td>
        <td>10</td>
        <td>80% of all teachers in all govt. and govt. aided schools.</td>
      </tr>
      <tr>
        <td>49</td>
        <td>2.1.5</td>
        <td>% of Schools at Elementary level Covered Under Twinning/
          Partnership
        </td>
        <td>Shagun</td>
        <td>10</td>
        <td>50% of All Schools </td>
      </tr>
      <tr>
        <td>50</td>
        <td>2.1.6</td>
        <td>% of Schools at Elementary level displaying photo of elementary
          teachers
          for Govt and aided schools - Govt. and aided schools</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all elementary Govt. and aided schools.</td>
      </tr>
      <tr>
        <td>51</td>
        <td>2.1.7</td>
        <td>% of single teacher primary schools</td>
        <td>UDISE</td>
        <td>10</td>
        <td>There should be no single teacher school at primary level, therefore benchmark to be set as zero (0).
        </td>
      </tr>
      <tr>
        <td>52</td>
        <td>2.1.8</td>
        <td>% of primary schools having PTR as per RTE norm</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of all Schools at primary level.</td>
      </tr>
      <tr>
        <td>53</td>
        <td>2.1.9</td>
        <td>% of primary and upper primary schools meeting head teacher norms
          as per
          RTE</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>54</td>
        <td>2.1.10</td>
        <td>% of secondary schools having principals/ head masters in
          position</td>
        <td>UDISE</td>
        <td>20</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>55</td>
        <td>2.1.11 a.</td>
        <td>% Upper Primary schools meeting norms of subject - teacher as per RTE</td>
        <td>UDISE</td>
        <td>10</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td></td>
        <td>2.1.11 b.</td>
        <td>% Secondary Schools who have teacher for all core subjects</td>
        <td>UDISE</td>
        <td>20</td>
        <td>100% of All Schools </td>
      </tr>
      <tr>
        <td>56</td>
        <td>2.1.12</td>
        <td>% of academic positions filled in state and district academic
          institutions (SCERT/ SIE & DIETs) at the beginning of the given academic
          year 2018-19</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all academic posts sanctioned by the State Government/ UT Admin.
        </td>
      </tr>
      <tr>
        <td>57</td>
        <td>2.1.13</td>
        <td>Average occupancy (in months) of District Education Officer (or
          equivalent) in last 03 years for all Districts</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all such posts sanctioned by the State Government/ UT Admin.</td>
      </tr>
      <tr>
        <td>58</td>
        <td>2.1.14</td>
        <td>Average occupancy (in months) of Principal Secretary/ Secretary
          (Education), SPD (SSA) & SPD(RMSA) for last 03 years</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all such posts sanctioned by the State Government/ UT Admin.</td>
      </tr>
      <tr>
        <td rowspan="4">59</td>
        <td rowspan="4">2.1.15</td>
        <td>Details of visits to the elementary schools during the previous academic year:</td>
        <td rowspan="4">UDISE</td>
        <td rowspan="4">10</td>
        <td rowspan="4">100% of all Govt. and aided schools. weightage points will be given as
          per average performance of a, b and c.
        </td>
      </tr>
      <tr>
        <td class="text-left">(a) % of schools visited at least 3 times for academic inspections</td>
      </tr>
      <tr>
        <td class="text-left">(b) % of schools visited at least 3 times by CRC Co-ordinator</td>
      </tr>
      <tr>
        <td class="text-left">(C) % of schools visited at least 3 times by Block level officer (BRC/ BEO)</td>
      </tr>
      <tr>
        <td>60</td>
        <td>2.1.16</td>
        <td>a) Average number of days taken by State Govt./ UT Administration to release total Central share of funds
          to societies (during the financial year 2017-18)</td>
        <td>Shagun</td>
        <td>10</td>
        <td>Within 15 days of receipt of central share of funds by the State/ UT.
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>b) Average number of days taken by State Govt./ UT
          Administration to release total State share due to societies (during the
          financial year 2017-18) (not applicable to UTs without legislature)</td>
        <td>Shagun</td>
        <td>10</td>
        <td>Within 30 days of receipt of central share of funds by the State. In case
          of UTs without legislature, entire 20 weightage points will be assigned
          to part (a).
        </td>
      </tr>
      <tr>
        <td>61</td>
        <td>2.1.17</td>
        <td>% of teachers evaluated (during the year 2017-18)</td>
        <td>Shagun (State/ UT/ PINDICS)</td>
        <td>10</td>
        <td>100% of teachers in Govt. and aided schools.</td>
      </tr>
      <tr>
        <td rowspan="2">62</td>
        <td rowspan="2">2.1.18</td>
        <td>% of govt. head-teachers/ principals who have completed Schools
          Leadership (SL) training in the financial year 2017-18</td>
        <td rowspan="2">Shagun</td>
        <td rowspan="2">20</td>
        <td rowspan="2">100% of the target in PAB of SSA and PAB of RMSA 2017-18.</td>
      </tr>
      <tr>
        <td>(Measured against sanctioned by Central government)</td>
      </tr>
      <tr>
        <td>63</td>
        <td>2.1.19</td>
        <td>% of schools that have completed self-evaluation and made schools
          improvement plans during the financial year 2017-18</td>
        <td>Shagun</td>
        <td>10</td>
        <td>100% of all Govt. and aided schools.</td>
      </tr>
      <tr>
        <td>64</td>
        <td>2.1.20</td>
        <td>% of teachers provided with sanctioned number of days training
          during
          the financial year 2017-18 - Govt. and aided</td>
        <td>Shagun</td>
        <td>20</td>
        <td>100% of the target in PAB of SSA and PAB of RMSA 2017-18.</td>
      </tr>
      <tr>
        <td>65</td>
        <td>2.1.21</td>
        <td>Number of new teachers recruited through a transparent online
          recruitment system as a % of total number of new teachers recruited
          during 2017-18</td>
        <td>Shagun</td>
        <td>20</td>
        <td>100% of all newly recruited teachers in Govt. schools.</td>
      </tr>
      <tr>
        <td>66</td>
        <td>2.1.22</td>
        <td>Number of teachers transferred through a transparent online
          system as a
          % of total number of teachers transferred during 2017-18</td>
        <td>Shagun</td>
        <td>20</td>
        <td>100% of all eligible teachers in Govt. schools.</td>
      </tr>
      <tr>
        <td>67</td>
        <td>2.1.23</td>
        <td>Number of head-teachers/ principals recruited through a
          merit-based
          selection system as a % of total number of head-teachers/ principals
          recruited during 2017-18</td>
        <td>Shagun</td>
        <td>20</td>
        <td>50% of all head-teachers/ principals recruited in Govt. schools.</td>
      </tr>
      <tr>
        <td>68</td>
        <td>2.1.24</td>
        <td>% State/ UT budget share spent on school education to total
          State/ UT
          budget of 2017-18</td>
        <td>Shagun</td>
        <td>20</td>
        <td>At least 20%</td>
      </tr>
      <tr>
        <td>69</td>
        <td>2.1.25</td>
        <td>Funds (including value of goods and services in kind arranged
          through
          PPP, CSR etc. as a percentage of State/ UT budget on education during
          2017-18</td>
        <td>Shagun</td>
        <td>10</td>
        <td>At least 1%</td>
      </tr>
      <tr>
        <td rowspan="4">70</td>
        <td rowspan="4">2.1.26</td>
        <td>Percentage of each of the following registered under PFMS:</td>
        <td rowspan="4">UDISE</td>
        <td rowspan="4">10</td>
        <td>Weightage points will be average of all three</td>
      </tr>
      <tr>
        <td class="text-left">a) Schools</td>
        <td>100</td>
      </tr>
      <tr>
        <td class="text-left">b) SCERT/ SIE</td>
        <td>100</td>
      </tr>
      <tr>
        <td class="text-left">c) DIETs</td>
        <td>100</td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Total Category 2 Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>360</h5>
        </td>
        <td></td>
      </tr>
      <tr class="text-uppercase">
        <td></td>
        <td></td>
        <td>
          <h5>Total Weight</h5>
        </td>
        <td></td>
        <td>
          <h5>1000</h5>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</section>
<section class="about-section pb-0">
  <div class="what-pgi mb-5 animated zoomIn wow">
    <img src="assets/images/grading-bg.jpg" alt="Grading" class="img-fluid">
    <div class="what-pgi-caption grading">
      <h2 class="text-uppercase">Grading, in an ideal situation,
        allows all the States and UTs to be construed as star performers
        and be at Grade 1 which is the ultimate goal
        that PGI hopes to achieve.</h2>

    </div>
  </div>
  <p>lt goes without saying that effective governance and management will go a long way in improving the school
    education system and PGI has been conceptualised as a tool to encourage States and UTs to ensure that the
    outcomes included in the Index are delivered.</p>
  <p>The total weightage under the PGI is 1000 points with each of the 70 indicators assigned a weightage of
    either 10 or 20 points. The States and UTs have been assessed on the basis of their performance against the
    benchmark for each indicator. This benchmark/ optimum level for each indicator has been carefully identified
    and the DoSEL has ensured that these are reasonable and attainable. They may be changed at a later stage
    depending upon the need.</p>
  <div class="row d-flex align-items-center">
    <div class="col-md-7 animated fadeInLeft wow">
      <div class="jumbotron text-uppercase">
        <p class="m-0">Weightages against each indicator have been divided into 10 groups - 0,1-10,11-20 and
          soon up to 91-100. Thus, a State which has achieved 91% of the benchmark of an Indicator, will
          get maximum points (10 or 20 whichever is applicable for the particular indicator). However, in
          case of a few Indicators, a lower value would score a higher weightage e.g. equity indicators,
          time taken for release of funds and single teacher schools. For Equity Indicators, a difference
          of 'O’ (zero) between different categories has been considered as the best performance and the
          absolute value of the difference has been considered for grading</p>
      </div>
    </div>
    <div class="col-md-5 animated fadeInRight wow">
      <img src="assets/images/artwork.png" alt="artwork" class="img-fluid d-block mx-auto">
    </div>
  </div>
  <p class="mt-5">The grades are based on the scores obtained by the States and UTs on their performance on all
    the 70 indicators during 2017-18 (except the data sourced from UDISE which is for the year 2016-17).</p>
  <p>Thus, the grading categories are relative and can change depending upon the best performers in a given year.
    At the same time, all 36 States and UTs can occupy the highest grade simultaneously.</p>

  <div class="bubble  animated zoomIn wow">
    PGI has been calculated by taking the weighted average of scores secured under 70 indicators.
    The overall performance of a State or UT is therefore an aggregated measure ranging from 0 to 1000 with
    10 levels or grades. Based on the secured overall Index scores, the States and UTs have been assigned
    Grades within this.
  </div>

</section>
