<mat-card class="tp-card m-5">
    <mat-card-header>
        <mat-card-title>Analytics</mat-card-title>
    </mat-card-header>
    <mat-card-content class='appendRow' #appendRow>
        <div class='row' *ngFor="let i of joinForms; let j = index;">
            <div class='col-sm-7'>
                <mat-form-field style='width:54%'>
                    <mat-label>Perform Analytics On</mat-label>
                    <mat-select (selectionChange)='getColumn($event.value,j)'
                        (selectionChange)='customCheckValidation($event.value,j)'>
                        <mat-option [value]='-1'>
                            Select
                        </mat-option>

                        <mat-option *ngFor="let tableListValue of tablesListValues[j];let i = index;"
                            [(ngModel)]="selectedTableId" [attr.tableId]="tableListValue.tableId" [value]="i">
                            {{tableListValue.tableView}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="selectedTableId[j] ==null &&  searchCount >0 " #tableValid{{j}} style="color:red">
                    <span>*</span>Fill Value</div>
            </div>
            <div class='col-sm-4'>
                <angular2-multiselect [data]="tablesColumnList[j]" [(ngModel)]="multiSelectedItems[j]"
                    [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" required>
                </angular2-multiselect>
                <div *ngIf="multiSelectedItems[j] =='' &&  searchCount >0 " style="color:red"><span>*</span>Please
                    Select field</div>
            </div>

            <div class='col-sm-1' *ngIf="i !=1 && j==this.listTableColumnMapping.length-1" style="text-align: right;">
                <i class="material-icons iconPointer" (click)='removeRow(j)'>remove</i>
            </div>

        </div>
        <div class='col-sm-3' style="margin-top: top;">
            <i class="material-icons iconPointer" (click)='joinAppend()'>add</i>
        </div>



        <div *ngIf="rulesSize?.length > 0" style="padding: 5px; border: 1px solid;">
            <div style="background: rgb(218, 218, 234);font-size: large; padding: 10px;">Rules</div>
            <div class='row' style="margin-top: 1%" *ngFor="let i of whereCondition; let j = index;">
                <div class='col-sm-4'>
                    <mat-form-field style="width:100%">
                        <mat-label>Select Parameters</mat-label>
                        <mat-select #mySelect (selectionChange)="getFilterFields(mySelect.value,j)">
                            <mat-option [value]=''>
                                Select
                            </mat-option>
                            <!-- <input class="yourClass" placeholder ="search " (keyup)="onKey($event.target.value)">  -->
                            <!-- <mat-option>
                                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                              </mat-option> -->
                            <ng-container *ngFor="let tableName of listTableColumnMapping;let i = index;" [value]="i">
                                <div style="font-family: sans-serif; font-size: large; background: beige; padding: 5px;"
                                    [value]="i">
                                    {{tableName.tableView}}
                                </div>
                                <mat-option *ngFor="let colNames of tableName.columnList;let j = index;"
                                    [attr.tableName]="tableName.tableName" [value]="colNames">
                                    {{colNames.itemName}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='col-sm-3'>
                    <mat-form-field style="width:100%">
                        <mat-label>Condition</mat-label>
                        <mat-select #operatorVal (selectionChange)="getFilterOperator(operatorVal.value,j)"
                            [(ngModal)]="selectedFilterOperator[j]">
                            <mat-option>
                                Select
                            </mat-option>
                            <mat-option *ngFor="let operator of operators;let j = index;"
                                [attr.operatorId]="operator.id" [value]="operator.operatorValue">
                                {{operator.operatorName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='col-sm-4'>

                    <ng-container *ngIf="this.materVisible[j] !='Y'">
                        <mat-form-field style="width:100%">
                            <input matInput placeholder="Condition Value" [(ngModel)]="selectedFilterValue[j]"
                                (change)="getFilterValue($event,j,'N')">
                        </mat-form-field>
                    </ng-container>


                    <ng-container *ngIf="this.materVisible[j] =='Y'">


                        <angular2-multiselect [data]="masterVisibleData[j]" [(ngModel)]=" this.selectedMasterColumn[j]"
                            [settings]="settings" (onSelect)="onItemSelected(j)" (onDeSelect)="OnItemDeSelect(j)"
                            (onSelectAll)="onSelectAllFilter(j)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </ng-container>

                </div>
                <div class='col-sm-1' style="text-align: right;">
                    <i class="material-icons iconPointer" (click)='removeFilter(j)'>remove</i>
                </div>
            </div>
        </div>

        <div *ngIf="summarizedSize?.length > 0" style="padding: 5px; border: 1px solid;margin-top: 1%;">
            <div style="background: rgb(218, 218, 234);font-size: large; padding: 10px;">Summarize</div>
            <div class='row' style="margin-top: 1%" *ngFor="let i of summarizedCondition; let j = index;">
                <div class='col-sm-4'>
                    <mat-form-field style="width:100%">
                        <mat-label>Select</mat-label>
                        <mat-select #aggrigate (selectionChange)="getAggrigateValue(aggrigate.value,j)">
                            <mat-option [value]=''>
                                Select
                            </mat-option>
                            <mat-option *ngFor="let summerizeQuery of summerizedQuery[j]" [value]="summerizeQuery">
                                {{summerizeQuery.summarizedName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='col-sm-3'>
                    <mat-form-field style="width:100%">
                        <mat-label>Select Table</mat-label>
                        <mat-select #aggrigateColumn [(ngModel)]="manageAggrigationField[j]"
                            (selectionChange)="getAggrigateColumn(aggrigateColumn.value,j)">
                            <!-- <mat-select-trigger>{{manageAggrigationField[j].selected?.viewValue||'All'}}</mat-select-trigger> -->
                            <!-- <mat-option [value]=''>
                                Select
                            </mat-option> -->
                            <mat-select-trigger>{{aggrigateColumn.selected?.viewValue||'null'}}</mat-select-trigger>
                            <ng-container *ngFor="let tableName of listTableColumnMapping;let i = index;" [value]="i">
                                <div style="font-family: sans-serif; font-size: large; background: beige; padding: 5px;"
                                    [value]="i">
                                    {{tableName.tableView}}
                                </div>
                                <mat-option *ngFor="let colNames of tableName.columnList;let j = index;"
                                    [attr.tableName]="tableName.tableName" [value]="colNames">
                                    {{colNames.itemName}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='col-sm-5' style="text-align: right;">
                    <i class="material-icons iconPointer" (click)='removeSummary(j)'>remove</i>
                </div>
            </div>
        </div>

        <div *ngIf="groupBySized?.length > 0" style="padding: 5px; border: 1px solid;margin-top: 1%;">
            <div style="background: rgb(218, 218, 234);font-size: large; padding: 10px;">Group By</div>
            <div class='row' style="margin-top: 1%">

                <angular2-multiselect class="col-sm-3" [data]="this.allColumnList" [(ngModel)]=" this.selectedGroups"
                    [settings]="settings" (onDeSelect)="onGroupDeSelected()" (onSelectAll)="onGroupAllSelected()"
                    (onSelect)="onGroupSelected()" (onDeSelectAll)="onGroupAllDeSelected()">


                </angular2-multiselect>
                <div class='col-sm-9' style="text-align: right;">
                    <i class="material-icons iconPointer" (click)='removeGroup()'>remove</i>
                </div>
            </div>

        </div>


        <div class='row' mat-dialog-actions style="margin-top: 1%;display: flex;justify-content: center;">

            <button mat-raised-button (click)='addRule()' style="margin: 5px;"><i color="primary" class="material-icons"
                    style="margin:3px !important;color:#007bff">add</i><span style="margin:3px !important">Add
                    Filter</span></button>
            <button mat-raised-button (click)='Summarize()' style="margin: 5px;"><i class="material-icons"
                    style="margin:3px !important;color:#007bff">add</i><span
                    style="margin:3px !important">Summarize</span></button>
            <button *ngIf="summarizedValueCondition" mat-raised-button (click)='addGroupBy()' style="margin: 5px;"><i
                    class="material-icons" style="margin:3px !important;color:#007bff">add</i><span
                    style="margin:3px !important">Group
                    By</span></button>
            <button mat-raised-button (click)='searchResult()' style="margin: 5px;"><i class="material-icons"
                    style="margin:3px !important;color:#007bff">search</i><span
                    style="margin:3px !important">Search</span></button>

        </div>
    </mat-card-content>
</mat-card>


<mat-card *ngIf="columnDefs?.length > 0" class="tp-card">
    <mat-card-header>
        <mat-card-title>Search Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ngx-ui-loader></ngx-ui-loader>
        <div style="margin: 5px;">
            <button mat-raised-button (click)="onBtExport()" style="margin: 5px;"><i class="material-icons"
                    style="margin:3px !important;color:#007bff">get_app</i><span style="margin:3px !important">Export to
                    Excel</span></button>

        </div>
        <div>
            <div class="row" style="padding: 1%; background: #f9f8f9;">
                <div class="col-md-12" style="font-family: initial;"><h5>Get Percentage Value</h5></div>
                <ng-container *ngFor="let nv of numericColumnViewer;let i = index;" [value]="i">
                    <div class="col-sm-2" style="background: antiquewhite; border: 1px solid black; border-radius: 5px;">
                        <span style="padding: 15px;">{{nv.columnView| uppercase}}</span><input style="float: right; margin-top: 2%;" type="checkbox" (click)="changePer(i,isChecked[i]=='true'?'1':'0')">
                    </div>
                </ng-container>
            </div>
        </div>
        <ag-grid-angular *ngIf="columnDefs?.length > 0" style="width: 100%; height: 500px" class="ag-theme-balham"
            [rowData]="rowData" [isFullWidthCell]="isFullWidthCell" [fullWidthCellRenderer]="fullWidthCellRenderer"
            [defaultColDef]="defaultColDef" [getRowHeight]="getRowHeight" [frameworkComponents]="frameworkComponents"
            [enableSorting]="true" [multiSortKey]="multiSortKey" [animateRows]="true" [pagination]="true"
            [paginationPageSize]="10" [enableFilter]="true" [floatingFilter]="true" (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs">
        </ag-grid-angular>


    </mat-card-content>
</mat-card>