.iconPointer{
    cursor: pointer;
     background: #007bff; 
     color:white
}
/* .mat-selection-list {
    overflow-x: auto;
}
.mat-option-text{
    word-wrap: break-word !important;
}

/* .auto-width{ */
    /* .mat-form-field {
        width: auto !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
    }   */ 

/* } */
/* ::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
}

::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 2ch;
    max-width: 25ch;
}
::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
} */

/* ::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
} */

.mat-select-panel mat-option.mat-option {
    height: unset;
  }

 .mat-option-text.mat-option-text {
    white-space: normal;
  }