<!-- Common Header Starts Here -->
<section id="header" class="header">
    <div class="topStrip cf">
        <div class="container">
            <div class="row spaceBottom">
                <div class="col-md-12">
                    <ul class="leftLink">
                        <li><a href="#">Home</a></li>
                        <!-- <li><a href="#">Feedback</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Contact Us</a></li> -->
                    </ul>
                    <ul class="rightLinks">
                        <li><a tabindex="1" href="#content">Skip to Main Content</a></li>
                        <li><a href="#">Screen Reader Access</a></li>
                        <li class="fontResize">
                            <div id="accessControl" class="textResizeWrapper">
                                <input type="button" name="font_normal" value="A-" id="font_small" title="Decrease Font Size" class="fontScaler normal font-normal" />
                                <input type="button" name="font_normal" value="A" id="font_normal" title="Normal Font Size" class="fontScaler normal font-normal" />
                                <input type="button" name="font_large" value="A+" id="font_large" title="Increase Font Size" class="fontScaler large font-large" />
                                <input type="button" name="normal" value="Standard View" id="normal" title="Standard View" class="contrastChanger normal current" />
                                <input type="button" name="wob" value="High Contrast View" id="wob" title="High Contrast View" class="contrastChanger wob" />
                            </div>
                        </li>
                        <li><a href="#">English <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
                        <!-- <li><a [routerLink]="['/sandbox']" target="_blank">Login <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li> -->
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>



        </div>
    </div>
    <div class="container logoSection">
        <div class="row spaceBottom">
            <div class="col-md-12">
                <div class="logo">
                    <a href="#"><img src="assets/newdashboard/images/logo.png" alt="Ministry of Education" title="Ministry of Education"></a>
                </div>
                <div class="navBlock">

                    <ul>

                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">UDISE + Report(PDF)<i style="font-size:20px;margin-left: 5px; " class="fa">&#xf0dd;</i></button>
                                <div class="dropdown-content">
                                    <a style="border-bottom: 1px solid;" download href="assets/images/pdf/UDISE+2021_22_Booklet.pdf">UDISE + Report 2021-22 (PDF)</a>
                                    <a style="border-bottom: 1px solid;" download href="assets/images/pdf/UDISE+2020_21_Booklet.pdf">UDISE + Report 2020-21 (PDF)</a>
                                    <a style="border-bottom: 1px solid;" download href="assets/images/pdf/UDISE+2019_20_Booklet.pdf">UDISE + Report 2019-20 (PDF)</a>
                                    <a download href="assets/images/pdf/UDISE+2018_19_Booklet.docx">UDISE + Report 2018-19 (DOCX)</a>
                                </div>
                            </div>
                        </li>
                        <!-- <li><a download href="assets/images/pdf/UDISE+2019_20_Booklet.pdf">UDISE + Report 2019-20 (PDF)</a></li> -->
                        <li><a [routerLink]="['/reportDashboard/state']">States and UTs</a></li>
                        <!-- <li><a [routerLink]="['/sedashboard/state']">States and UTs</a></li> -->

                        <!-- <li><a href="#">State Profile </a></li> -->
                        <li><a [routerLink]="['/reportDashboard/sReport']" target="_blank">Reports </a></li>
                        <!-- <li><a href="#">Custom Query  </a></li> -->
                        <!-- <li><a href="#">Glossary And Formulae </a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Common Header Ends Here -->