<section class="about-section">
  <div class="row d-flex align-items-end">
    <div class="col-md-6">
      <h2 class="heading text-left"><span>Understanding the<br /> Indian Education System</span></h2>
      <p>The Indian Education System is one of the largest in the world with more than 1.5 million
        schools, 8.5 million teachers and 250 million children from varied socio-economic backgrounds.
        The system strives to maintain standards and uniformity across the country while giving ample
        scope for the country’s diverse culture and heritage to grow and flourish.</p>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled d-flex h-100 align-items-end edu-data">
        <li class="animated fadeInUp wow">
          <div class="data">
            <div class="data-img data-img-schools"></div>
            <div class="data-title">Schools</div>
            <div class="data-num">1.5 MN</div>
          </div>
        </li>
        <li class="animated fadeInUp wow" data-wow-delay="0.2s">
          <div class="data">
            <div class="data-img data-img-teachers"></div>
            <div class="data-title">Teachers</div>
            <div class="data-num">8.5 MN</div>
          </div>
        </li>
        <li class="animated fadeInUp wow" data-wow-delay="0.4s">
          <div class="data">
            <div class="data-img data-img-students"></div>
            <div class="data-title">Students</div>
            <div class="data-num">250 Mn</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="about-section">
  <div class="what-pgi animated zoomIn wow">
    <img src="assets/images/about-pgi-bg.jpg" alt="About PGI" class="img-fluid">
    <div class="what-pgi-caption">
      <h2 class="text-uppercase">What is performance grading index?</h2>
      <p>The Performance Grading Index is a tool to provide insights on the status of school education in
        States and UTs including key levers that drive their performance and critical areas for
        improvement.</p>
      <p>Grading will allow all States and UTs to occupy the highest level i.e Grade I, at the same time which is
        a sign of fully developed nation.</p>
    </div>
  </div>

  <div class="row d-flex align-items-center mt-5">
    <div class="col-md-5 animated fadeInLeft wow">
      <img src="assets/images/pgi-circle-art.png" alt="PGI" class="img-fluid">
    </div>
    <div class="col-md-6 offset-md-1 animated fadeInRight wow">
      <p>The schemes initiated by the Department of School Education and Literacy (DoSEL) along with the
        implementation of the Right of Children to Free and Compulsory Education Act, have resulted in
        significant improvement in accessibility. As a logical next step, the focus has now shifted from
        access to quality of education. </p>

      <div class="jumbotron">
        <p class="m-0">DoSEL,<span class="text-uppercase"> therefore, has designed the Performance Grading Index (PGI) to catalyse
          transformational change in the field of school education.</span></p>
      </div>
    </div>
  </div>
  <section class="why-pgi text-justify animated fadeIn wow">
    <h2 class="heading text-left"><span>Why it is required?</span></h2>
    <p>The exercise, which is the first of its kind at such a scale, envisages that the Index will propel the States
      and Union Territories (UTs) towards undertaking multi-pronged interventions that will bring about the
      much-desired optimal education outcomes. The purpose of the PGI therefore is to help the States and UTs to
      pinpoint the gaps and accordingly prioritize areas for intervention to ensure that the school education
      system is robust at every level. At the same time it will also act as a good source of information for
      best practices followed by States and UTs which can be shared.</p>
    <div class="d-flex align-items-center justify-content-around my-5">
      <div class="why-pgi-box animated fadeIn wow">
        <div class="why-pgi-icon"></div>
        <div class="why-pgi-point">Pinpoint<br /> the gaps </div>
      </div>
      <div class="why-pgi-arrow"></div>
      <div class="why-pgi-box animated fadeIn wow" data-wow-delay="0.2s">
        <div class="why-pgi-icon"></div>
        <div class="why-pgi-point">Prioritize areas for intervention</div>
      </div>
      <div class="why-pgi-arrow"></div>
      <div class="why-pgi-box animated fadeIn wow" data-wow-delay="0.4s">
        <div class="why-pgi-icon"></div>
        <div class="why-pgi-point">Ensure a Robust Education System</div>
      </div>
    </div>
    <p class="m-0 animated fadeIn wow">The evaluation will grade the States and UTs, as opposed to ranking. Grading, by
      allowing
      several States and UTs to be considered at the same level, eliminates the phenomenon of one improving
      only at the cost of others, thereby casting a stigma of underperformance on the latter, though, in
      effect they may have maintained status quo or even done better than earlier.
    </p>
  </section>
</section>
