.first-home {
	height: 140px;
}

.form-back{ background-image: url(../../../../assets/images/bgPattern.jpg); background-position:center;
background-size: cover; width:100%; height:calc(100vh - 229px); }

.bg-blue{
 background-color: #242449;
 height: 54px;
}
footer {
    padding: 20px 0 !important;
    height: 90px;
}
.login-box {
    width: 400px;
    margin-top: 90px !important;
    box-shadow: 0 0 5px 1px rgba(51,51,51,0.3);
}