<section class="about-section">
  <h2 class="heading text-left"><span>Performance of STATEs and UTs 2019 executive summary</span></h2>
  <p>The grades of the States and UTs, based on PGI, give the synopsis of number and names of States and UTs in
    a particular Grade. The names of the States & UTs are in alphabetical order. While a detailed analysis of the
    performance - State/UT wise and Indicator wise - is in process, the broad conclusions are as under.</p>

  <div class="row d-flex align-items-center">
    <div class="col-md-7">
      <div class="media">

        <div class="media-body">
          <h2 class="mt-0 heading text-left"><span class="badge">01</span><span>Inter state differential</span></h2>
          <p>On a maximum possible of 1000 points, the range between the States and UTs with the highest
            and
            the lowest score is almost 300 which is 30% of the maximum points. <strong>Thus there exists
              a
              considerable difference between the States and UTs as far as their performance in the
              arena of
              School Education is concerned as assessed by the PGI.</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="methodology d-flex align-items-center justify-content-center h-100 animated flipInY wow">
        <div class="methodology-circle md">
          <div class="methodology-circle-content">
            <div class="methodology-circle-num">30%</div>
            <div class="methodology-circle-title">Lowest Score <br /> /1000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 d-flex align-items-center">
    <div class="col-md-5 animated fadeInLeft wow">
      <img src="assets/images/best-achievers.png" alt="Best achievers" class="img-fluid">
    </div>
    <div class="col-md-7 animated fadeInRight wow">
      <div class="media mt-5">
        <div class="media-body">
          <h2 class="mt-0 heading text-left"><span class="badge">02</span><span>Best achievers vis-a-vis the ultimate goal </span></h2>
          <p>The States and UTs which are in Grade 1 as per the evaluation this year, still have
            considerable ground to cover to reach the maximum aggregate of 1000 points.
            Thus, Chandigarh, Kerala and Gujarat, which are the first grade are ranked 34th, 22nd and
            5th in terms of their size. Similarly, the States which are in Grade VI, are ranked 23rd (Meghalaya), 26th (Nagaland) and 15th (Arunachal
            Pradesh) respectively. As mentioned earlier, one of the main purposes of PGI is to make the
            States and UTs aware of
            the areas where there is scope for improvement and strive to reach the maximum possible
            score and be in the highest grade. All States and UTs, wherever they are placed, should
            strive to move up to the higher Grades in the subsequent years and as a country, the aim is
            that all the States and UTs should be in the highest Grade.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center mt-5">
    <div class="col-md-7 animated fadeInLeft wow">
      <div class="media mt-5">
        <div class="media-body">
          <h2 class="mt-0 heading text-left"><span class="badge">03</span><span>Size vis-a-vis performance</span></h2>
          <p>The Performance of a State/UT is often perceived to be linked to the size (geographical area)
            of the State/UT as it has a bearing on several logistic, administrative and other issues.
            However, <strong>size does not appear to be a determining factor in the performance of
              States and
              UTs in the field of school education as assessed by the PGI.</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-5 animated fadeInRight wow">
      <img src="assets/images/state-size.png" alt="states" class="img-fluid d-block mx-auto">
    </div>
  </div>
  <div class="row mt-5 d-flex align-items-center">
    <div class="col-md-5 animated fadeInLeft wow">
      <img src="assets/images/population.png" alt="population" class="img-fluid">
    </div>
    <div class="col-md-7 animated fadeInRight wow">
      <div class="media mt-5">
        <div class="media-body">
          <h2 class="mt-0 heading text-left"><span class="badge">04</span><span>Population vis-a-vis performance</span></h2>
          <p> Population may be construed to be a hindrance to development as it tends to increase the
            financial burden of interventions by the Government. In terms of population size, the Grade
            1 States and UTs are 32nd (Chandigarh), 13th (Kerala) and 9th (Gujarat). The population
            ranking of three States viz. Meghalaya, Nagaland and Arunachal Pradesh which are in Grade
            VI, are 23rd, 25th and 27th respectively. Hence, the effect of population on the performance
            of States and UTs is inconclusive.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center mt-5 pb-5">
    <div class="col-md-7 animated fadeInLeft wow">
      <div class="media mt-5">
        <div class="media-body">
          <h2 class="mt-0 heading text-left"><span class="badge">05</span><span>Correlation between the current performance of
            States and UTs and
            reaching the highest levels</span></h2>
          <p>A summary of Domain wise performance of all the States and UTs can be viewed in National Findings section. An
            analysis of the Domain wise performance shows that while the best
            performing States and UTs have done very well or fairly well across all Domains all of them
            still have some way to go before they reach the highest levels. Thus while Chandigarh,
            Kerala and Gujarat may be in Grade 1 vis-a-vis the other 33 States and UTs, they have
            scored between 801-850 points out of a possible maximum of 1000. These States and UTs
            therefore still need to improve their performance so that they can ultimately reach Level 1
            in the shortest time. Depending on how well they comply with the indicators, the other
            States and UTs can also improve their performance and reach level 1 without too much delay.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 animated fadeInRight wow">
      <img src="assets/images/highest-level-map.png" alt="map" class="img-fluid d-block mx-auto">
    </div>
  </div>

  <div class="bubble mt-5 animated zoomIn wow">
    The geographical area of a State /UT does not seem to be determining factor in performance and both the
    larger and smaller States and UTs are seen to be performing equally well.
    The effect of population on the performance of States and UTs is inconclusive. Thus larger States are seen
    to be performing as well as smaller States.
  </div>
</section>
