<h1 class="mb-2 page-head">Users List</h1>

<br>
<button mat-raised-button [routerLink]="['/sandbox/home/adduser']">Add User</button>
<br><br>
<div class="table-head">
    <table class="table m-0">
        <thead>
            <tr>
                <th width="80" class="text-center">S.No.</th>
                <th>Name</th>
                <th width="250">Mobile No.</th>
                <th width="350">Email</th>
                <th width="250">Username</th>
                <th width="250">Action</th>
            </tr>
        </thead>
    </table>
</div>
<div class="table-scroll" data-simplebar>
    <table class="table">
        <tbody>
            <tr *ngFor="let user of users; let index = index;">
                <td width="80" class="text-center">{{index + 1}} </td>
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td width="250">{{user.mobileNo}}</td>
                <td width="350">{{user.email}}</td>
                <td width="250">{{user.username}}</td>
                <td width="250">
                    <span (click)="edit(user)" style="cursor: pointer; color: blue;">Edit</span> |
                    <span (click)="delete(user.id)" style="cursor: pointer; color: blue;">Delete</span></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <ag-grid-angular style="width: 100%; height: 50%;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
</ag-grid-angular> -->

<!-- <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [modules]="modules" [columnDefs]="columnDefs" [enableRangeSelection]="true" [sideBar]="true" [enableRangeSelection]="true" [defaultColDef]="defaultColDef"
    [enableCharts]="true" [enableRangeSelection]="true" [autoGroupColumnDef]="autoGroupColumnDef" [groupIncludeFooter]="true" [groupIncludeTotalFooter]="true" [animateRows]="true" [rowData]="rowData" [floatingFilter]="true" [autoGroupColumnDef]="autoGroupColumnDef"
    [rowSelection]="rowSelection" [rowDeselection]="true" [groupHeaderHeight]="groupHeaderHeight" [groupIncludeFooter]="true" [groupIncludeTotalFooter]="true" [pinnedTopRowData]="pinnedTopRowData" [excelStyles]="excelStyles" [suppressAggFuncInHeader]="true"
    [pinnedBottomRowData]="pinnedBottomRowData" (columnVisible)="onColumnVisible($event,'id19')" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"></ag-grid-angular> -->






<div *ngIf="showRegForm">
    <form #lf="ngForm" (ngSubmit)="lf.valid && register(lf)">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder="Firstname" [(ngModel)]="registerModel.firstname" name="firstName" required>
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Lastname</mat-label>
                    <input matInput placeholder="Lastname" [(ngModel)]="registerModel.lastname" name="lastName" required>
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput placeholder="Mobile No." [(ngModel)]="registerModel.mobileNo" name="mobileNo" required>
                    <mat-icon matSuffix>contact_phone_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" [(ngModel)]="registerModel.username" name="username" required>
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="registerModel.password" name="password" required>
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Designation</mat-label>
                    <mat-select [(ngModel)]="registerModel.designation" required name="designation" #desg="ngModel" (ngModelChange)="getStates();">
                        <mat-option *ngFor="let dsg of designations" [value]="dsg.key">
                            {{dsg.value}} </mat-option>
                    </mat-select>
                    <mat-error>Please select Designation</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="registerModel.designation === '3' || registerModel.designation === '4' || registerModel.designation === '5'">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>State</mat-label>
                    <mat-select [(ngModel)]="registerModel.state" required name="state" (ngModelChange)="getDistrict();">
                        <!-- <mat-option *ngFor="let state of states" [value]="state.id"> -->
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state.stateName}} </mat-option>
                    </mat-select>
                    <mat-error>Please select State</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="registerModel.designation === '4' || registerModel.designation === '5'">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>District</mat-label>
                    <mat-select [(ngModel)]="registerModel.district" required name="district" (ngModelChange)="getBlock();">
                        <!-- <mat-option *ngFor="let dis of districts" [value]="dis.districtId"> -->
                        <mat-option *ngFor="let dis of districts" [value]="dis">
                            {{dis.districtName}} </mat-option>
                    </mat-select>
                    <mat-error>Please select District</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="registerModel.designation === '5'">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Block</mat-label>
                    <mat-select [(ngModel)]="registerModel.block" required name="block">
                        <mat-option *ngFor="let bl of blocks" [value]="bl.blockId">
                            {{bl.blockName}} </mat-option>
                    </mat-select>
                    <mat-error>Please select Block</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email Id</mat-label>
                    <input type="email" matInput placeholder="Email Id" [(ngModel)]="registerModel.email" name="email" required>
                    <mat-icon matSuffix>email_outline</mat-icon>
                </mat-form-field>
            </div>


            <div class="col-md-12 mt-2">
                <mat-label>Roles:</mat-label>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item border-0" *ngFor="let role of roles">
                        <mat-checkbox name="role" [(ngModel)]="role.isSelected">{{role.roleName}}</mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-right">
            <!-- <button type="button" (click)="showRegForm = false; lf.reset()" class="mr-2">Cancel</button>
            <button type="submit" mat-raised-button color="primary" class="btn-gradient" [disabled]="!lf.valid">
                <span *ngIf="!showOverlay">Create</span>
                <span *ngIf="showOverlay"><span class="spinner-grow spinner-grow-sm" role="status"
                        aria-hidden="true"></span>
                    Loading...</span>
            </button> -->

        </div>
    </form>
</div>