<!-- <section id="footer">
    <div class="container">
        <div class="row spaceBottom">
            <div class="col-md-4 paddfoot pr-3">
                 <span class="followTitle ">Disclaimer</span>
                  <p class="mt-4 mb-3"> The Reports are based on consolidation of data received from the States/UTs. Hence it cannot be used for any legal purpose.</p>
                  <p class="">&copy; 2018 Department of School Education &amp; Literacy, Government of India. <br>
                    Page last updated on: 06/02/2020 Visitors: site stats</p>
            </div>
            <div class="col-md-4 paddfoot">
                <div class="">
                    <span class="followTitle" >Follow on us</span>
                   
                </div>
            </div>
            <div class="col-md-4 paddfoot">
                <a href="#" title="NIC"><img src="assets/newdashboard/images/nic-logo-wht.png" width="150" height="58" alt="NIC"></a>
                <p class="nicText mt-4">This site is designed, hosted and maintained by National Informatics Centre (NIC), Department of Electronics &amp; Information Technology, Ministry of Communications &amp; Information Technology, Government of India.</p>
            </div>
        </div>
    </div>
</section> -->

<!-- Common Footer Starts Here -->
<section id="footer">
    <div class="container">
        <div class="row spaceBottom">
            <div class="col-md-3  pr-3">
                <span class="followTitle ">Disclaimer</span>
                 <p class="mt-2 mb-2"> The Reports are based on consolidation of data received from the States/UTs. Hence it cannot be used for any legal purpose.</p>
                 <a href="https://www.hitwebcounter.com" target="_blank">
                    <img src="https://hitwebcounter.com/counter/counter.php?page=7831394&style=0006&nbdigits=9&type=page&initCount=60000" title="Free Counter" Alt="web counter"   border="0" /></a>
           </div> 
           <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="media my-2">
                    
                    <div class="media-body text-right border-right pr-3">
                      <p class="mb-0">This site is designed, developed, maintained and hosted by National Informatics Centre (NIC), Ministry of Electronics & Information Technology.
                        <br/>This Website belongs to Department of School Education & Literacy, Ministry of Education, Government of India.</p>
                    </div>
                    
                    <img src="assets/newdashboard/images/nic-logo-wht.png" class="align-self-center pl-3 "  width="170px"  alt="...">
                
                
                  </div>
                  
            </div>
           
        </div>
    </div>
</section>
<!-- Common Footer Ends Here -->