<!--=:::::::::::::::::::::::New DashBoard::::::::::::::::::::::::::::-->

<div style="margin-left: 2%; margin-right: 1.5%;">


    <h3 class="pgHead">Student Dashboard &nbsp;&nbsp;<span>|&nbsp;&nbsp;2021-22</span></h3>
    <div class="card shadow" style="padding: 30px; margin-top: 1.5%;">
        <div class="row">
            <div class="col-md-3">
                <div class="schoolNum">

                    <div class="media">
                        <div class="schoolicon"> <img src="assets/images/dash-icon/student-red.png" class="align-self-center mr-3" alt="..."></div>
                        <div class="media-body schooltxt">
                            <p>Elementary Students</p>
                            <h5 class="red">19.81 <span class="font14">Crores</span></h5>
                        </div>
                    </div>


                    <!-- <div class="schoolicon"><img src="assets/images/"></div>
                <div class="schooltxt">
                    
                    <h5 class="red">  </h5>
                </div>                             -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="schoolNum">


                    <div class="media">
                        <div class="schoolicon"> <img src="assets/images/dash-icon/student-lit-blue.png" class="align-self-center mr-3" alt="..."></div>
                        <div class="media-body schooltxt">
                            <p>Secondary Students</p>
                            <h5 class="aqua">3.85 <span class="font14">Crores</span></h5>
                        </div>
                    </div>


                    <!-- <div class="schoolicon"><img src="assets/images/class_skyblue.png"></div>
                <div class="schooltxt">
                    
                    <h5 class="aqua"> </h5>
                </div>                             -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="schoolNum">


                    <div class="media">
                        <div class="schoolicon"> <img src="assets/images/dash-icon/student-green.png" class="align-self-center mr-3" alt="..."></div>
                        <div class="media-body schooltxt">
                            <p>Higher Sec. Students</p>
                            <h5 class="green">2.85 <span class="font14">Crores</span></h5>
                        </div>
                    </div>


                    <!-- <div class="schoolicon"><img src="assets/images/class_green.png"></div>
                <div class="schooltxt">
                    
                    <h5 class="green"> Crores</h5>
                </div>                             -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="schoolNum" style="border-right: none;">

                    <div class="media">
                        <div class="schoolicon"> <img src="assets/images/dash-icon/student-blue.png" class="align-self-center mr-3" alt="..."></div>
                        <div class="media-body schooltxt">
                            <p>Total Students</p>
                            <h5 class="blue">26.52 <span class="font14">Crores</span></h5>
                        </div>
                    </div>


                    <!-- <div class="schoolicon"><img src="assets/images/class_blue.png"></div>
                <div class="schooltxt">
                    
                    <h5 class="blue"> Crores</h5>
                </div>                             -->
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="row col-sm-12" style="margin-top: 1%;">
        <div class="col-sm-12" style="margin-top: 1%;  height: 110; background: rgba(255, 255, 255, 0.7) ">
            <div style="width: 100%" id="testing2"></div>
        </div>
    </div> -->
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Total Number of Students / Enrolment</mat-card-title>
                </mat-card-header> -->
                <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"></div> -->
                <div style="width:100%" (window:resize)="onResize($event)" id="stdtotalnoStudents"></div>
                <mat-card-footer class="cardfooter" style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline cardfooter-txt">Number of Students Management-Wise</mat-card-title>
                </mat-card-footer>
                <!-- </div> -->
                <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart1')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
                <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

                <!-- </mat-card> -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- <mat-card-header style="display: block; text-align: center;">
                <mat-card-title class="text-oneline">Ratio of Boys and Girls</mat-card-title>
            </mat-card-header> -->
                <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
                <div style="width:100%" (window:resize)="onResize($event)" id="tstdnumschcat"></div>
                <mat-card-footer class="cardfooter" style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline cardfooter-txt">Number of Students by Level of Education</mat-card-title>
                </mat-card-footer>
                <!-- </div> -->
                <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                <div (click)="mouseEnter('chart2')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                    Graphical
                </div> -->
                <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                    Tabular
                </div> -->

                <!-- </mat-card> -->
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Ratio of Boys and Girls</mat-card-title>
                </mat-card-header> -->
                <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
                <div style="width:100%" (window:resize)="onResize($event)" id="stdGer"></div>
                <mat-card-footer class="cardfooter" style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline cardfooter-txt">Gross Enrolment Ratio</mat-card-title>
                </mat-card-footer>
                <!-- </div> -->
                <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                    
                    <div (click)="mouseEnter('chart3')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
                <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

                <!-- </mat-card> -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
                <div style="width:100%" (window:resize)="onResize($event)" id="stdNer"></div>
                <mat-card-footer class="cardfooter" style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline cardfooter-txt">Net Enrolment Ratio</mat-card-title>
                </mat-card-footer>
                <!-- </div> -->
                <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
                <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

                <!-- </mat-card> -->
            </div>
        </div>
    </div>


    <!---->


    <div class="row ">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Ratio of Boys and Girls</mat-card-title>
                </mat-card-header> -->
                <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
                <div style="width:100%" (window:resize)="onResize($event)" id="tBoysGirlsRatio"></div>
                <mat-card-footer class="cardfooter" style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline cardfooter-txt">Number Boys and Girls</mat-card-title>
                </mat-card-footer>
                <!-- </div> -->
                <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                    
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
                <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

                <!-- </mat-card> -->
            </div>
        </div>
        <!-- <div class="col-sm-6" style="margin-top: 1%;">
            <div class="card shadow" style="padding: 20px;"> -->
        <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Gross Enrolment Ratio</mat-card-title>
                </mat-card-header> -->
        <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
        <!-- <div style="width: 100%" id="" ></div> -->
        <!-- </div> -->
        <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
        <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

        <!-- </mat-card> -->
        <!-- </div>
        </div> -->
    </div>
    <!-- <div class="row" style="margin-top: 1%;">
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">CWSN Enrolment</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id="stdger"></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;"> -->

    <!-- <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Promotion / Repetition / Dropout Rate</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id="stdpromorepdrop"></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Retention Rate</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id="stdBoys"></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">SC / ST / OBC Enrolment</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id="socioenrol"></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
    </div> -->
    <!-- <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">Retention Rate</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id="test3"></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow" style="padding: 20px;"> -->
    <!-- <mat-card-header style="display: block; text-align: center;">
                    <mat-card-title class="text-oneline">SC / ST / OBC Enrolment</mat-card-title>
                </mat-card-header> -->
    <!-- <div id="schoolContainer" style=" position: relative; width: 100%;"> -->
    <!-- <div style="width: 100%" id=""></div> -->
    <!-- </div> -->
    <!-- <mat-card style="height: 1px; margin-top: 14px; background-color: aliceblue;">
                
                    <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-12 hoverClass" style="text-align: center; margin-top: -10px ">
                        Graphical
                    </div> -->
    <!-- <div (click)="mouseEnter('chart20')" (click)="mouseLeave('div T')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                        Tabular
                    </div> -->

    <!-- </mat-card> -->
    <!-- </div>
        </div>
    </div> -->
</div>

<ng-template #Graphical let-modal style="min-width: 100%;">
    <div class="modal-header" style="display: block; text-align: center; background:#8d2825">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="color: white">
                <h4 class="modal-title">Header</h4>
            </div>
            <div class="col-md-1">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
        </div>
    </div>

    <div class="modal-body" style="width: 100%;">
        <div style="width: 100%; " id="stdmyExpanded"></div>
        <!-- <ng-template [ngIf]="values == 'chart1'">
            <mat-card id="schoolContainer" style=" box-shadow: 5px 10px #888888;height: 500px;background: rgba(255, 255, 255, 0.7);">
            <mat-card-header style="display: block; text-align: center;">
                <mat-card-title class="text-oneline">Libarary Facility</mat-card-title>
            </mat-card-header> -->
        <!-- <div id="schoolContainer" style=" position: relative; width: 100%;">
                <div>
                    <div  id="test6"></div>
                </div>
            </div> -->
        <!-- <div class="row" style="margin-top: 3%;">
                <div (click)="mouseEnter('chart7')" (click)="mouseLeave('div G')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5">
                    Graphical
                </div>
                <div (click)="mouseEnter('chart8')" (click)="mouseLeave('div H')" class="col-sm-6 hoverClass" style="text-align: center; padding: 5%;background: #d1e4f5;">
                    Tabular
                </div>
            </div> -->
        <!-- </mat-card>
        </ng-template>-->
        <ng-template [ngIf]="values == 'chart2'">
            <div>
                <!-- <ag-grid-angular
                    style="width: 1200px; height: 500px;"
                    class="ag-theme-balham"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    >
                </ag-grid-angular> -->

            </div>
        </ng-template>
        <!-- <ng-template [ngIf]="values == 'chart3'"><div>3</div></ng-template>
        <ng-template [ngIf]="values == 'chart4'"><div>4</div></ng-template>
        <ng-template [ngIf]="values == 'chart5'"><div>5</div></ng-template>
        <ng-template [ngIf]="values == 'chart6'"><div>6</div></ng-template>
        <ng-template [ngIf]="values == 'chart7'"><div>7</div></ng-template>
        <ng-template [ngIf]="values == 'chart8'"><div>8</div></ng-template>
        <ng-template [ngIf]="values == 'chart9'"><div>9</div></ng-template>
        <ng-template [ngIf]="values == 'chart10'"><div>10</div></ng-template>
        <ng-template [ngIf]="values == 'chart11'"><div>11</div></ng-template>
        <ng-template [ngIf]="values == 'chart12'"><div>12</div></ng-template>
        <ng-template [ngIf]="values == 'chart13'"><div>13</div></ng-template>
        <ng-template [ngIf]="values == 'chart14'"><div>14</div></ng-template>
        <ng-template [ngIf]="values == 'chart15'"><div>15</div></ng-template>
        <ng-template [ngIf]="values == 'chart16'"><div>16</div></ng-template>
        <ng-template [ngIf]="values == 'chart17'"><div>17</div></ng-template>
        <ng-template [ngIf]="values == 'chart18'"><div>18</div></ng-template>
        <ng-template [ngIf]="values == 'chart19'"><div>19</div></ng-template>
        <ng-template [ngIf]="values == 'chart20'"><div>20</div></ng-template> -->
    </div>

    <!-- <div *ngIf = isValid></div>
<div>
  <button (click)="myclick()">Click Me</button>
</div>
<div  *ngIf = isValid2>
<button style="height: 20; color:rebeccapurple;" (click)="myclick2(true); myclick3(false)" >Show Button</button>
</div>
<div *ngIf = isValid>
  <button (click)="myclick2(false); myclick3(true)">Hide</button>
</div> -->


</ng-template>