<section id="banner" data-aos="fade-in">
  <img src="assets/images/indicators-banner.jpg" alt="indicators" class="img-fluid w-100">
  <div class="container banner-caption">
    <div class="row h-100">
      <div class="col-md-10 d-flex align-items-center">
        <div>
          <h2>Indicators</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="main_content">
  <div class="container">
    <div class="row indicators-total-score">
      <div class="col-md-4">
        <h5>Total category 1 weight: 640</h5>
      </div>
      <div class="col-md-4">
        <h5>Total category 2 weight: 360</h5>
      </div>
      <div class="col-md-4">
        <h5>Total weight: 1000</h5>
      </div>
    </div>
    <div class="accordion" data-accordion="first">
      <div class="card">
        <div class="card-header domain-one">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Learning Outcomes & Quality</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Weight: 180</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.1 % of Elementary schools which have displayed class-wise learning
                  Outcomes </h6>
                <p>100% of Govt. and aided elementory Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.2 Average Language score in Class 3 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.3 Average Mathematics score in Class 3 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.4 Average Language score in Class 5 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.5 Average Mathematics score in Class 5 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.6 Average Language score in Class 8 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.7 Average Mathematics score in Class 8 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.8 Average Science score in Class 8 - Govt and aided schools</h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.1.9 Average Social Science score in Class 8 - Govt and aided schools
                </h6>
                <p>The latest round of NAS for classes 3, 5 and 8 tested the LOs of the
                  students. The report cards give the percentage of students assessed who
                  answered correctly. The benchmark will be 75% of all students who
                  answered correctly i.e. States and UTs obtaining this score get full
                  weightage points.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="second">
      <div class="card">
        <div class="card-header domain-two">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Access</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Weight: 80</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.1 Adjusted Net Enrolment Ratio (NER) at elementary level as per
                  entry age
                  of the State/UT</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.2 Adjusted Net Enrolment Ratio (NER) at secondary level as per entry
                  age
                  of the State/UT</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.3 Retention rate at primary level</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.4 Retention rate at elementary level</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.5 Retention rate at secondary level</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.6 Transition rate from primary to upper-primary level</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.7 Transition rate from upper-primary to secondary level</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.2.8 Percentage of identified Out-of-school-children mainstreamed in
                  last
                  completed academic year (2017-18) (Class 1 to 8)</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="third">
      <div class="card">
        <div class="card-header domain-three">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Infrastructure & Facilities</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Weight: 150</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.1 Percentage of schools having CAL in Upper Primary Level</h6>
                <p>100% Govt. upper primary schools. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>Percentage of secondary schools having lab facility<br />
                  1.3.2 a. Integrated Science Lab<br />
                  1.3.3 b. Computer Lab</h6>
                <p>100% Govt. secondary schools. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.4 % of schools having Book Banks/ Reading Rooms/ Libraries</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.5 % of schools covered by vocational education subject<br />
                  a. Classes 9 & 10<br />
                  b. Classes 11 to 12</h6>
                <p>25% of composite Govt. secondary and higher secondary schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.6 % of primary schools provided graded supplementary material</h6>
                <p>100% of Govt. primary schools. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.7 % of elementary schoolss children taking mid-day meal against
                  target
                  approved in PAB - Govt and aided schools</h6>
                <p>100% of MDM PAB target 2017-18</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: MDM Portal</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.8 % of days midday meal served against total working days - Govt and
                  aided
                  elementary schools</h6>
                <p>100% of 200 days at primary level and 220 days at upper primary level,
                  as per RTE Act. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: MDM Portal</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.9 Percentage of schools having functional drinking water facility -
                  All
                  Schools</h6>
                <p>100% of All Schools. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.10 Percentage of Elementary Level students getting Uniform within
                  three
                  months of start of academic year 2016-17 - Govt. Schools</h6>
                <p>100% of all students in Govt. elementary schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.3.11 Percentage of Elementary Level students getting Free Textbook
                  within one
                  month of start of academic year 2016-17</h6>
                <p>100% of all students in Govt. & Govt. aided elementary schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="fourth">
      <div class="card">
        <div class="card-header domain-four">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Outcomes</small>
                <span class="w-100 d-block title">Equity</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Weight: 230</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.1 Difference in student performance in Language between Scheduled
                  Castes
                  (SC) and General Category in Govt. and Aided elementary schools: Class
                  3, 5 & 8</h6>
                <p>Since there should be zero difference between SC/ST students and General
                  Category students, maximum weightage points will be given to a score of
                  0 under these indicators. (0 value to be given 100 marks). Absolute
                  value of the difference will be taken. Lower the difference better is
                  the grade. Average performance of the three classes (3, 5 & 8) will be
                  taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.2 Difference in student performance in Mathematics between Scheduled
                  Castes (SC) and General Category in Govt. and Aided elementary schools:
                  Class 3, 5 & 8</h6>
                <p>Since there should be zero difference between SC/ST students and General
                  Category students, maximum weightage points will be given to a score of
                  0 under these indicators. (0 value to be given 100 marks). Absolute
                  value of the difference will be taken. Lower the difference better is
                  the grade. Average performance of the three classes (3, 5 & 8) will be
                  taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.3 Difference in student performance in Language between Scheduled
                  Tribes
                  (ST) and General Category in Govt. and Aided elementary schools: Class
                  3, 5 & 8</h6>
                <p>Since there should be zero difference between SC/ST students and General
                  Category students, maximum weightage points will be given to a score of
                  0 under these indicators. (0 value to be given 100 marks). Absolute
                  value of the difference will be taken. Lower the difference better is
                  the grade. Average performance of the three classes (3, 5 & 8) will be
                  taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.4 Difference in student performance in Mathematics between Scheduled
                  Tribes (ST) and General Category in Govt. and Aided elementary schools:
                  Class 3, 5 & 8</h6>
                <p>Since there should be zero difference between SC/ST students and General
                  Category students, maximum weightage points will be given to a score of
                  0 under these indicators. (0 value to be given 100 marks). Absolute
                  value of the difference will be taken. Lower the difference better is
                  the grade. Average performance of the three classes (3, 5 & 8) will be
                  taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.5 Difference in student performance in Language between Urban and
                  Rural
                  areas in Govt. and Aided elementary schools: Class 3, 5 & 8</h6>
                <p>Difference in % of urban students answering correctly and % or rural
                  students answering correctly can be measured here (Rural - Urban) and
                  the target may be set as greater than or equal to 0.
                  Since there should be zero difference between rural and urban students,
                  maximum weightage points will be given to a score of 0 under these
                  indicators. Absolute value of the difference will be taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.6 Difference in student performance in Mathematics between Urban and
                  Rural
                  areas in Govt. and Aided elementary schools: Class 3, 5 & 8</h6>
                <p>Difference in % of urban students answering correctly and % or rural
                  students answering correctly can be measured here (Rural - Urban) and
                  the target may be set as greater than or equal to 0.
                  Since there should be zero difference between rural and urban students,
                  maximum weightage points will be given to a score of 0 under these
                  indicators. Absolute value of the difference will be taken.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.7 Difference in student performance in Language between Boys and
                  Girls in
                  Govt. and Aided elementary schools: Class 3, 5 & 8</h6>
                <p>Difference in % of boys answering correctly and % of girls answering
                  correctly can be measured here (girls - boys) and the target may be set
                  as greater than or equal to 0.
                  Since there should be zero difference between boys and girls, maximum
                  weightage points will be given to a score of 0 under these indicators.
                  Absolute value of the difference will be taken.
                </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.8 Difference in student performance in Mathematics between Boys and
                  Girls
                  in Govt. and Aided elementary schools: Class 3, 5 & 8</h6>
                <p>Difference in % of boys answering correctly and % of girls answering
                  correctly can be measured here (girls - boys) and the target may be set
                  as greater than or equal to 0.
                  Since there should be zero difference between boys and girls, maximum
                  weightage points will be given to a score of 0 under these indicators.
                  Absolute value of the difference will be taken.
                </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: NAS</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.9 a. Difference between SC's and General Category's Transition Rate
                  from
                  Upper Primary to Secondary level<br />
                  b. Difference between SC's and General
                  Category's Transition Rate from Upper Primary econdary level</h6>
                <p>0 in All Schools (There should be zero difference)</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.10 Difference between Boys and Girls Transition Rate from Upper
                  Primary to
                  Secondary level</h6>
                <p>0 in All Schools (There should be zero difference)</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.11 Difference between Minorities and General Category's Transition
                  Rate
                  from Upper Primary to Secondary level</h6>
                <p>0 in All Schools (There should be zero difference)</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.12 Gross enrolment ration of CWSN ( age group 6-18 years )</h6>
                <p>100% of CWSN children in that age group in all schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.13 % of entitled CWSN receiving Aids and Appliances for Govt and
                  Aided
                  schools</h6>
                <p>100% of target in PAB SSA and PAB RMSA 2017-18. </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.14 Percentage of schools having ramp for CWSN to access schools
                  buildings
                </h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.15 Percentage of schools having functional CWSN friendly toilets.
                </h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>1.4.16 Percentage of schools having functional toilet<br />
                  a. Boys toilet<br />
                  b. Girls toilet</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion" data-accordion="fourth">
      <div class="card">
        <div class="card-header domain-five">
          <button class="btn btn-link" type="button">
            <span class="row d-flex align-items-center">
              <span class="col-lg-9">
                <small class="w-100 d-block ">Category - Governance & Management</small>
                <span class="w-100 d-block title">Governance Processes</span>
              </span>
              <span class="col-lg-3">
                <span class="total-weight-block">Total Weight: 360</span>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="card-body">
        <ul class="list-unstyled" data-simplebar>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.1 % of Children whose Unique ID is seeded in SDMIS</h6>
                <p>100% of all students in all schools aged 6 to 18 years.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.2 % of Teachers whose Unique ID is seeded in any electronic database
                  of
                  the State Government/UT Administration</h6>
                <p>100% of all teachers in all schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.3 % of average daily attendance of students captured digitally
                  (States and
                  UTs may set digital mechanism similar to AMS of MDM)</h6>
                <p>75% of all students in all Govt. and Govt. aided schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.4 % of average daily attendance of teachers recorded in an electronic
                  attendance
                  system</h6>
                <p>80% of all teachers in all govt. and govt. aided schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.5 % of Schools at Elementary level Covered Under Twinning/
                  Partnership
                </h6>
                <p>50% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.6 % of Schools at Elementary level displaying photo of elementary
                  teachers
                  for Govt and aided schools - Govt. and aided schools</h6>
                <p>100% of all elementary Govt. and aided schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.7 % of single teacher primary schools</h6>
                <p>There should be no single teacher school at primary level, therefore
                  bench mark to be set as zero (0).</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.8 % of primary schools having PTR as per RTE norm</h6>
                <p>100% of all Schools at primary level.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.9 % of primary and upper primary schools meeting head teacher norms
                  as per
                  RTE</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.10 % of secondary schools having principals/ head masters in
                  position</h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.11 a. % Upper Primary schools meeting norms of subject - teacher as
                  per RTE
                </h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.11 b. % Secondary Schools who have teacher for all core subjects
                </h6>
                <p>100% of All Schools </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.12 % of academic positions filled in state and district academic
                  institutions (SCERT/ SIE & DIETs) at the beginning of the given academic
                  year 2018-19</h6>
                <p>100% of all academic posts sanctioned by the State Government/ UT Admin.
                </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.13 Average occupancy (in months) of District Education Officer (or
                  equivalent) in last 03 years for all Districts</h6>
                <p>100% of all such posts sanctioned by the State Government/ UT Admin.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.14 Average occupancy (in months) of Principal Secretary/ Secretary
                  (Education), SPD (SSA) & SPD(RMSA) for last 03 years</h6>
                <p>100% of all such posts sanctioned by the State Government/ UT Admin.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.15 Details of visits to the elementary schools during the previous
                  academic
                  year:<br />
                  a. % of schools visited at leat 3 times for academic inspections<br />
                  b. % of schools visited at least 3 times by CRC
                  Co-ordinator<br />
                  c. % of schools visited at least 3 times by Block level
                  officer (BRC/ BEO)</h6>
                <p>100% of all Govt. and aided schools. weightage points will be given as
                  per average performance of a, b and c.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.16 a. Average number of days taken by State Govt./ UT Administration
                  to
                  release total Central share of funds to societies (during the financial
                  year 2017-18)<br />
                </h6>
                <p>Within 15 days of receipt of central share of funds by the State/ UT.
                </p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>
                  b. Average number of days taken by State Govt./ UT
                  Administration to release total State share due to societies (during the
                  financial year 2017-18) (not applicable to UTs without legislature)</h6>
                <p>Within 30 days of receipt of central share of funds by the State. In case
                  of UTs without legislature, entire 20 weightage points will be assigned
                  of part (a).</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.17 % of teachers evaluated (during the year 2017-18)</h6>
                <p>100% of teachers in Govt. and aided schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.18 % of govt. head-teachers/ principals who have completed Schools
                  Leadership (SL) training in the financial year 2017-18 (Measured against
                  sanctioned by Central government)</h6>
                <p>100% of the target in PAB of SSA and PAB of RMSA 2017-18.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.19 % of schools that have completed self-evaluation and made schools
                  improvement plans during the financial year 2017-18</h6>
                <p>100% of all Govt. and aided schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.20 % of teachers provided with sanctioned number of days training
                  during
                  the financial year 2017-18 - Govt. and aided</h6>
                <p>100% of the target in PAB of SSA and PAB of RMSA 2017-18.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.21 Number of new teachers recruited through a transparent online
                  recruitment system as a % of total number of new teachers recruited
                  during 2017-18</h6>
                <p>100% of all newly recruited teachers in Govt. schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.22 Number of teachers transferred through a transparent online
                  system as a
                  % of total number of teachers transferred during 2017-18</h6>
                <p>100% of all eligible teachers in Govt. schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.23 Number of head-teachers/ principals recruited through a
                  merit-based
                  selection system as a % of total number of head-teachers/ principals
                  recruited during 2017-18</h6>
                <p>50% of all head-teachers/ principals recruited in Govt. schools.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.24 % State/ UT budget share spent on school education to total
                  State/ UT
                  budget of 2017-18</h6>
                <p>At least 20%</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 20</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.25 Funds (including value of goods and services in kind arranged
                  through
                  PPP, SSR etc. as a percentage of State/ UT budget on education during
                  2017-18</h6>
                <p>At least 1%</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: Shagun</div>
              </div>
            </div>
          </li>
          <li>
            <div class="row d-flex align-items-center">
              <div class="col-lg-9">
                <h6>2.1.26 Percentage of each of the following registered under PFMS:<br />
                  a. Schools<br />
                  b.SCERT/ SIE c) DIETs</h6>
                <p>Weightage points will be average of all three.</p>
              </div>
              <div class="col-lg-3">
                <div class="detials weight">Weight: 10</div>
                <div class="detials source">Data Source: UDISE</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
