<div class="wrapper">


    <section id="midContainer" style="padding-top: 0;">
        <div class="indexBanner"><img src="assets/newdashboard/images/main-banner.jpg" width="1920" height="707" alt="Main Banner"></div>
        <div class="lowerBanner">
            <div class="container-fluid">
                <div class="row upPos px-3">
                    <div class="col-md-4 col-sm-12 my-2">
                        <div class="countBox blueBox " [routerLink]="['/reportDashboard/sDashboard']" style="cursor: pointer;">
                            <div class="countBoxTop">
                                <div class="cf">
                                    <h3>Number of <span class="boxName">Schools  <img src="assets/images/export16.png"></span></h3>
                                    <span class="schoolIcon"></span> </div>
                                <div class="totalCount">1489115</div>
                            </div>
                            <div class="countBoxMid">
                                <div class="row">
                                    <div class="cols6">Urban Area</div>
                                    <div class="cols6">Rural Area</div>
                                </div>
                            </div>
                            <div class="countBoxBottom">
                                <div class="row">
                                    <div class="cols6 lineRight">2.54<span class="inAmount">in Lakhs</span></div>
                                    <div class="cols6">12.34 <span class="inAmount">in Lakhs</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 my-2">
                        <div class="countBox yellowBox " [routerLink]="['/reportDashboard/tDashboard']" style="cursor: pointer;">
                            <div class="countBoxTop">
                                <div class="cf">
                                    <h3>Number of <span class="boxName">Teachers  <img src="assets/images/export_orange.png"></span></h3>
                                    <span class="teacherIcon"></span> </div>
                                <div class="count-up totalCount " data-from="10" data-to="9430839" data-time="5000">9507123</div>
                            </div>
                            <div class="countBoxMid">
                                <div class="row">
                                    <div class="cols6">Female</div>
                                    <div class="cols6">Male</div>
                                </div>
                            </div>
                            <div class="countBoxBottom">
                                <div class="row">
                                    <div class="cols6 lineRight">48.76 <span class="inAmount">in Lakhs</span></div>
                                    <div class="cols6">46.30 <span class="inAmount">in Lakhs</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 my-2">
                        <div class="countBox redBox " [routerLink]="['/reportDashboard/stdDashboard']" style="cursor: pointer;">
                            <div class="countBoxTop">
                                <div class="cf">
                                    <h3>Number of <span class="boxName">Students  <img src="assets/images/export_red.png"></span></h3>
                                    <span class="studentsIcon"></span> </div>
                                <div class="totalCount">265235830</div>
                            </div>
                            <div class="countBoxMid">
                                <div class="row">
                                    <div class="cols6">Girls</div>
                                    <div class="cols6">Boys</div>
                                </div>
                            </div>
                            <div class="countBoxBottom">
                                <div class="row">
                                    <div class="cols6 lineRight"> 12.73 <span class="inAmount">in Crores</span></div>
                                    <div class="cols6">13.79 <span class="inAmount">in Crores</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center text-white my-3">Source : UDISE + 2021-22</p>
            </div>
        </div>
        <div class="container">

            <div class="row spaceBottom">
                <div class="col-sm-12">
                    <div class="titleSection"> 
                        <div class="subLine"><span>Impact of Various Schemes and Initiatives</span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shadowBox redBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap grossEnrollmentIcon"></div>
                        </div>
                        <span class="iconName"> Gross Enrollment Ratio </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Elementary <span class="inAmount">100.13%</span></div>
                                <div class="cols6">Secondary <span class="inAmount">79.56%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox yellowBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap dropoutRateIcon"></div>
                        </div>
                        <span class="iconName"> Dropout Rate </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Primary <span class="inAmount">1.45%</span></div>
                                <div class="cols6">Secondary <span class="inAmount">12.61%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox blueBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap transitionRateIcon"></div>
                        </div>
                        <span class="iconName"> Transition Rate </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Primary to<br> Upper Primary <span class="inAmount">93.18%</span></div>
                                <div class="cols6">Upper Primary to Secondary <span class="inAmount">88.81%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox greenBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap teacherRatioIcon"></div>
                        </div>
                        <span class="iconName"> Pupil - Teacher Ratio </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Primary <span class="inAmount">26.25</span></div>
                                <div class="cols6">Upper Primary <span class="inAmount">18.86</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row spaceBottom">
                <div class="col-md-3">
                    <div class="shadowBox greenBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsToiletIcon"></div>
                        </div>
                        <span class="iconName"> Schools with Toilet </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Boys <span class="inAmount">96.22%</span></div>
                                <div class="cols6">Girls <span class="inAmount">97.48%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox redBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsDrinkingIcon"></div>
                        </div>
                        <span class="iconName"> Schools with Drinking Water </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols12"> <span class="inAmount">98.22%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox yellowBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsElectricityIcon"></div>
                        </div>
                        <span class="iconName"> Schools with <br>Electricity Connection </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols12"><span class="inAmount">89.34%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox blueBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsLibraryIcon"></div>
                        </div>
                        <span class="iconName"> Schools with Library </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols12"> <span class="inAmount">87.30%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row spaceBottom">
                <div class="col-md-3">
                    <div class="shadowBox blueBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsTextbooksIcon"></div>
                        </div>
                        <span class="iconName"> Schools Received Textbooks</span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols12">(All Govt. Elementary) <span class="inAmount">74%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox greenBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap genderParityIcon"></div>
                        </div>
                        <span class="iconName"> Gender Parity Index (GPI) </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Elementary <span class="inAmount">1.02</span></div>
                                <div class="cols6">Secondary <span class="inAmount">1.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox redBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap cwsnEnrolmentIcon"></div>
                        </div>
                        <span class="iconName"> CWSN Enrolment </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols6 lineRight">Elementary <span class="inAmount">1841997</span></div>
                                <div class="cols6">Secondary <span class="inAmount">398361</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 martop30">
                    <div class="shadowBox yellowBox">
                        <div class="shadowBoxTop">
                            <div class="iconWrap schoolsRampIcon"></div>
                        </div>
                        <span class="iconName"> Schools with Ramp </span>
                        <div class="shadowBoxBottom">
                            <div class="row">
                                <div class="cols12"><span class="inAmount">71.84%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row spaceBotton">
                <div class="col-md-12">
                    <center>
                        <button class="btn-sm btn-info" [routerLink]="['/reportDashboard/state']">More <img src="assets/newdashboard/images/next.svg" width="12px"> </button>
                    </center>
                </div>

            </div>
        </div>
    </section>
    <div class="container">

    </div>
    <section class="btm-link-wrap">
        <!-- <div class="container logoSlide"> <img src="../../../../assets/newdashboard/images/common-footer-logo-slider.jpg" width="1501" height="85" alt="Logo Slide"></div> -->

        <!-- Logo section -->

        <div class="container ">
            <div class="row  mb-0">

                <div class="bottom-logos">
                    <ul>
                        <li>
                            <div>
                                <a href="https://www.education.gov.in/en/" target="_blank">
                                    <img src="assets/newdashboard/images/btm-logo/melogo.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                                </a>
                            </div>
                        </li>

                        <li>
                            <div>
                                <a href="https://udiseplus.gov.in/#/home/" target="_blank">
                                    <img src="assets/newdashboard/images/btm-logo/udiselogo.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                                </a>
                            </div>
                        </li>
                        <!-- <li>
                    <div>
                        <img src="assets/newdashboard/images/btm-logo/repositorylogo.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                    </div>
                </li> -->

                        <li>
                            <div>
                                <a href="https://pgi.udiseplus.gov.in/#/home" target="_blank">
                                    <img src="assets/images/dash-icon/pgi-logo.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                                </a>
                            </div>
                        </li>

                        <!-- <li>
                    <div class="bg-white text-center  py-4 rounded-lg">
                        <a href="https://pgi.udiseplus.gov.in/#/home" target="_blank" >
                            <img src="assets/images/dash-icon/pgi-logo.png" width="70%" alt="PGI LOGO">
                        </a>
                    </div>
                </li> -->

                        <li>
                            <div>
                                <a href="https://schoolgis.nic.in/" target="_blank">
                                    <img src="assets/newdashboard/images/btm-logo/school-gis.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                                </a>
                            </div>
                        </li>
                        <!-- <li>
                    <div>
                        <img src="assets/newdashboard/images/btm-logo/prabandh.png" width="img-fluid" alt="The State Portal : External website that opens in a new window">
                    </div>
                </li> -->
                    </ul>
                </div>
            </div>
        </div>



        <!-- End Logo section -->
    </section>
    <!--<div class="socialLinksSection">
        <a href="#" title="Facebook" class="socialIcons facebook">Facebook</a>
        <a href="#" title="Twitter" class="socialIcons twitter">Twitter</a>
        <a href="#" title="LinkedIn" class="socialIcons linkedIn">LinkedIn</a>
        <a href="#" title="YouTube" class="socialIcons youTube">YouTube</a>
    </div>-->

</div>